flows/continuing_wellness.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_0f19e905_28d6_4c35_a010_4623454e6d1f</name>
        <choiceText>I agree and consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I agree and consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1166610b_5aea_4f32_ab28_3e9d78bf31d0</name>
        <choiceText>I decline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I decline</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_34f13ba2_c488_451d_b716_42242dfef7a8</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4667a6a9_c9cb_4685_a4d6_03a8c49b90f5</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9e9a5ae3_6b91_4d55_8f21_5be95f60a29b</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d447c2d3_2829_471d_940f_8d8d31a06424</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e5359a7d_3d40_43a8_b576_8248eb079624</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <constants>
        <name>defaultPageNav</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>d_b6fb07bb_f75a_4553_ac2a_aa60e333cd3f</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_24028fb5_0fda_4a7f_a42f_a53f486c5f0a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_6aadff4a_b879_4105_901f_2dff01dfb645</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d79617f4_d5cb_4d53_b1f6_9a787604ff61</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_9e9a5ae3_6b91_4d55_8f21_5be95f60a29b</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_a37ab54b_0c81_4a46_9694_23530f77e3c0</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_d07a94c8_7f36_47fb_b445_7754bde7bbca</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_bed7854c_836f_45db_aaad_5fb92d346bb1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_be49f437_7d00_4598_8c8d_86da71d9c32a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a55e42fd_a5fc_4458_b67c_8c4a33d1c43e</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_1166610b_5aea_4f32_ab28_3e9d78bf31d0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_6bde61f4_a9c3_45c9_b906_f87705202199</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_24028fb5_0fda_4a7f_a42f_a53f486c5f0a</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_a37ab54b_0c81_4a46_9694_23530f77e3c0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_bd8a7ffb_b849_4f78_8f04_e1aaee19465b</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_a37ab54b_0c81_4a46_9694_23530f77e3c0</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_6bde61f4_a9c3_45c9_b906_f87705202199</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_3a05bd1d_8ae7_4b51_93ad_2a2e6c15cc28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Continuing Wellness</interviewLabel>
    <label>Continuing Wellness</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>survey_43953ac6_b814_4830_8cf6_536a29b6ba4e</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_24028fb5_0fda_4a7f_a42f_a53f486c5f0a</name>
        <label>Symptoms or Exposed {{ref1}}</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_24028fb5_0fda_4a7f_a42f_a53f486c5f0a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9503293b_afc7_49a2_9e5c_dcc8566dddbc</name>
            <choiceReferences>c_e5359a7d_3d40_43a8_b576_8248eb079624</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;Based on your response, you aren&apos;t ready to return on-site yet.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select OK to confirm that the information you provided is accurate.&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_6bde61f4_a9c3_45c9_b906_f87705202199</name>
        <label>Declined{{ref0}}</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_745d5910_daa5_4ad2_819c_860684736cc4</name>
            <choiceReferences>c_d447c2d3_2829_471d_940f_8d8d31a06424</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;You declined to participate in the survey so you must remain off-site.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select OK to confirm.&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a37ab54b_0c81_4a46_9694_23530f77e3c0</name>
        <label>No Symptoms{{ref2}}</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_a37ab54b_0c81_4a46_9694_23530f77e3c0</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cac6676d_b158_4b56_9abc_91f2aaf19e25</name>
            <choiceReferences>c_4667a6a9_c9cb_4685_a4d6_03a8c49b90f5</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;Based on your response, you may return on-site.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select OK to confirm that the information you provided is accurate.&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_bed7854c_836f_45db_aaad_5fb92d346bb1</name>
        <label>Symptoms Question</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_b6fb07bb_f75a_4553_ac2a_aa60e333cd3f</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d79617f4_d5cb_4d53_b1f6_9a787604ff61</name>
            <choiceReferences>c_34f13ba2_c488_451d_b716_42242dfef7a8</choiceReferences>
            <choiceReferences>c_9e9a5ae3_6b91_4d55_8f21_5be95f60a29b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;Is either of these statements true?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Within the past 14 days, I have had contact with someone confirmed or suspected of having COVID-19.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Within the past 14 days, I have experienced the onset of at least one of these symptoms:&lt;/p&gt;&lt;p&gt;* Fever&lt;/p&gt;&lt;p&gt;* Cough&lt;/p&gt;&lt;p&gt;* Shortness of breath&lt;/p&gt;&lt;p&gt;* Muscle aches&lt;/p&gt;&lt;p&gt;* Chills&lt;/p&gt;&lt;p&gt;* Sore throat&lt;/p&gt;&lt;p&gt;* Headache&lt;/p&gt;&lt;p&gt;* Loss of taste or smell&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_d40c072d_7736_4681_ae8e_8aae949e588d</name>
        <label>Consent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_d07a94c8_7f36_47fb_b445_7754bde7bbca</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a55e42fd_a5fc_4458_b67c_8c4a33d1c43e</name>
            <choiceReferences>c_0f19e905_28d6_4c35_a010_4623454e6d1f</choiceReferences>
            <choiceReferences>c_1166610b_5aea_4f32_ab28_3e9d78bf31d0</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;This survey assesses your continued wellness in light of the COVID-19 pandemic. Participation in this survey is optional. However, if you decline to participate, you may be required to remain remote.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Any information you provide in this survey will be used for the sole purpose of determining whether you may continue on-site. Any individually identifiable information will be kept secure and confidential, and access will be strictly limited to those who need to know to ensure a safe and healthy environment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;More information about our privacy practices is available in our Privacy Statement&lt;b&gt;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>p_d40c072d_7736_4681_ae8e_8aae949e588d</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;Thank you for completing this survey and for your support in this process as we try to ensure a safe and healthy environment for everyone.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
