flows/Disciplinary_Action.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Case_to_Request</name>
        <label>Add Case to Request</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>SvcCatalogRelatedRecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_NewCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needs_Supporting_Docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Context_0</name>
        <label>Set Record Context</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Context_0_0</name>
        <label>Set Record Context</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Team_member_is_this_related_to</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Up_Case</name>
        <label>Set Up Case</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>var_NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ERCaseRTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Manager_Employee_Record.RelatedPerson.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_CaseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ERQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Human Resources</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.wkdw__TicketCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HR - Employee Performance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee Relations - Disciplinary Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Date_of_Incident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Manager_Employee_Record.RelatedPersonId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.On_Behalf_Of__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employees.RelatedPersonId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>rbOptions30</name>
        <choiceText>30 Days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30 Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptions60</name>
        <choiceText>60 Days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>60 Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptions90</name>
        <choiceText>90 Days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>90 Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptionsNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptionsYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Needs_Supporting_Docs</name>
        <label>Needs Supporting Docs</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Closure_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Docs Needed</defaultConnectorLabel>
        <rules>
            <name>Docs_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_AttachmentsTrueFalse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supporting_Documentation_Screen</targetReference>
            </connector>
            <label>Docs Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Record_Context</name>
        <label>Use Record Context</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Manager_Employee_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No RecId</defaultConnectorLabel>
        <rules>
            <name>Has_RecId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Context_0</targetReference>
            </connector>
            <label>Has RecId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Written_Warning_Given</name>
        <label>Written Warning Given?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Wrapup_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Written Warning</defaultConnectorLabel>
        <rules>
            <name>Yes_Written_Warning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WrittenWarning_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Information_Screen</targetReference>
            </connector>
            <label>Yes Written Warning</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rcsteammember</name>
        <dataType>String</dataType>
        <displayField>wkdw__DisplayName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Manager_Employee_Record.Id</elementReference>
            </value>
        </filters>
        <object>Employee</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentCaseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Disciplinary Action for &quot; + {!Get_Employees.Name}</expression>
    </formulas>
    <interviewLabel>Disciplinary Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[WDO - SC] Disciplinary Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Get_New_Case_info</targetReference>
        </connector>
        <inputReference>var_NewCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Employee_Relations_RT_Id</name>
        <label>Get Employee Relations RT Id</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ER_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR - Employee Relations</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_ERCaseRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Employees</name>
        <label>Get Employees</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disciplinary_Actions_Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ER_Queue_Id</name>
        <label>Get ER Queue Id</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Up_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR - Employee Relations</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_ERQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_Employee_Record</name>
        <label>Get Manager Employee Record</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disciplinary_Action_Employee_Select</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Katie Birdfield</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Case_info</name>
        <label>Get New Case info</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Case_to_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewCase.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_NewCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NewCaseEmployeeId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NewCaseReportedById</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NewCaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NewCase.AccountId</assignToReference>
            <field>On_Behalf_Of__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NewCaseSubType</assignToReference>
            <field>Sub_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Closure_Screen</name>
        <label>Closure Screen</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClosureText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;A disciplinary case has been initiated - &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Case # {!var_NewCaseNumber}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disciplinary_Action_Employee_Select</name>
        <label>Disciplinary Action Employee Select</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Record_Context_0_0</targetReference>
        </connector>
        <fields>
            <name>SelectEmp_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Please select the employee for this action:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Which_Team_member_is_this_related_to</name>
            <choiceReferences>rcsteammember</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Team member is this related to?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disciplinary_Actions_Screen_1</name>
        <label>Disciplinary Actions Screen 1</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Written_Warning_Given</targetReference>
        </connector>
        <fields>
            <name>CurrentEmployee_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Selected Employee &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Employees.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormalizedProcess_RB</name>
            <choiceReferences>rbOptionsYes</choiceReferences>
            <choiceReferences>rbOptionsNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this for a formalized process? Selecting &apos;No&apos; means it is for a one time need</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FirstIncidence_RB</name>
            <choiceReferences>rbOptionsYes</choiceReferences>
            <choiceReferences>rbOptionsNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this the first incidence with this employee?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VerbalWarning_RB</name>
            <choiceReferences>rbOptionsYes</choiceReferences>
            <choiceReferences>rbOptionsNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you given them a verbal warning?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>WrittenWarning_RB</name>
            <choiceReferences>rbOptionsYes</choiceReferences>
            <choiceReferences>rbOptionsNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you given the employee a written warning?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supporting_Documentation_Screen</name>
        <label>Supporting Documentation</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FileUploadInfo_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;A disciplinary case has been initiated - Case # &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!var_NewCaseNumber}&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please upload any supporting documentation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Supporting_Doce</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Browse</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Information_Screen</name>
        <label>Warning Information Screen</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Wrapup_Screen</targetReference>
        </connector>
        <fields>
            <name>CurrentEmployee_Display2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36); font-size: 16px;&quot;&gt;Selected employee: &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36); font-size: 16px;&quot;&gt;&lt;i&gt;{!Get_Employees.Name}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(1, 4, 173); font-size: 16px;&quot;&gt;Written Warnings Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Warning_Information_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Warning_Information_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Documentation_RB</name>
                    <choiceReferences>rbOptionsYes</choiceReferences>
                    <choiceReferences>rbOptionsNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Did you document when and what you sent to the employee?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Warning_Information_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SecondWrittenWarning_RB</name>
                    <choiceReferences>rbOptionsYes</choiceReferences>
                    <choiceReferences>rbOptionsNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Have you given the employee a second written warning?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Document_LongText</name>
            <fieldText>Enter the warning text you&apos;ve given the employee:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Documentation_RB</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wrapup_Screen</name>
        <label>Wrapup Screen</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Employee_Relations_RT_Id</targetReference>
        </connector>
        <fields>
            <name>CurrentEmployee_Display_3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Selected employee: &lt;/span&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Employees.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PerformancePlan_RB</name>
            <choiceReferences>rbOptionsYes</choiceReferences>
            <choiceReferences>rbOptionsNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to put the employee on a performance plan?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PerformancePlanDuration_RB</name>
            <choiceReferences>rbOptions30</choiceReferences>
            <choiceReferences>rbOptions60</choiceReferences>
            <choiceReferences>rbOptions90</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How long do you plan on having the employee on a performance plan?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SupportingDocsToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you have supporting documents you wish to upload for this case?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Use_Record_Context</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>tt_CaseDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Formalized process? {!FormalizedProcess_RB}
First incidence? {!FirstIncidence_RB}﻿</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SvcCatalogRelatedRecordIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AttachmentsTrueFalse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ERCaseRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ERQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_NewCaseEmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCaseReportedById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCaseSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCaseTicketCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewInvestigation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
    <variables>
        <name>var_recordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
