flows/Employee_Evaluation_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Employee_Crisis_Assessment</name>
        <label>Create Employee Crisis Assessment</label>
        <locationX>3895</locationX>
        <locationY>1650</locationY>
        <actionName>emptracing__EmployeeCrisisAssessmentInsertAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_for_Crisis_record</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Primary_Employee.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>crisisName</name>
            <value>
                <elementReference>Contact_Tracing_Settings.emptracing__Crisis_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusGroup</name>
            <value>
                <elementReference>StatusGroup</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CrisisErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Is_Crisis_Record_Created</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Participant_Count</name>
        <label>Add Participant Count</label>
        <locationX>6126</locationX>
        <locationY>1173</locationY>
        <assignmentItems>
            <assignToReference>ParticipantCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Participant_Count_0</name>
        <label>Add Participant Count</label>
        <locationX>6880</locationX>
        <locationY>1626</locationY>
        <assignmentItems>
            <assignToReference>ParticipantCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>All_Records_Saved_for_Internal_And_External_Contacts</name>
        <label>All Records Saved for Internal And External Contacts</label>
        <locationX>6874</locationX>
        <locationY>1038</locationY>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_Encounter_Participant_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error_message</name>
        <label>Assign error message</label>
        <locationX>1750</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>CustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Name</name>
        <label>Assign Last Name</label>
        <locationX>7826</locationX>
        <locationY>1596</locationY>
        <assignmentItems>
            <assignToReference>LeadRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastNameConstant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Leads</name>
        <label>Assign Leads</label>
        <locationX>7118</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>Leads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_External_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_For_Add_Employees_Initial_Screen</name>
        <label>Collection For Add Employees Initial Screen</label>
        <locationX>5435</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookupEmployee01.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookupEmployee02.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookupEmployee03.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookupEmployee04.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookupEmployee05.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_more_employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_for_Employees_in_Other_Employees_Screen</name>
        <label>Collection for Employees in Other Employees Screen</label>
        <locationX>5988</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherEmployee01.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherEmployee02.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherEmployee03.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherEmployee04.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherEmployee05.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherEmployee06.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherEmployee07.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherEmployee08.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherEmployee09.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherEmployee10.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_more_employees_in_other_employees_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_for_external_contacts_0</name>
        <label>Collection for external contacts</label>
        <locationX>6745</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContacFirstName01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContacLastName01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactCompanyName01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactEmail01.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead2.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactFirstName02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead2.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContacLastName02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead2.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactCompanyName02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead2.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactEmail02.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead3.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactFirstName03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead3.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContacLastName03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead3.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactCompanyName03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead3.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactEmail03.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead4.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactFirstName04</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead4.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContacLastName04</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead4.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactCompanyName04</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead4.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactEmail04.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead5.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactFirstName05</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead5.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContacLastName05</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead5.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactCompanyName05</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead5.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalContactEmail05.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The set of configurations which can be changed to control the flow execution.</description>
        <name>Configuration</name>
        <label>Configuration</label>
        <locationX>271</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>Contact_Tracing_Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact tracing follow up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LEAD_SOURCE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact Tracing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LIVE_EVENT_TYPE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrolled in Program</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EVOKE_EMPLOYEE_CRISIS_ASSESSMENT_APEX_ACTION</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_Error_Message_Codes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Data_Table</name>
        <label>Create Data Table</label>
        <locationX>7908</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tbody&gt; &lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Crisis_Error</name>
        <label>Crisis Error</label>
        <locationX>4004</locationX>
        <locationY>1827</locationY>
        <assignmentItems>
            <assignToReference>CustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CrisisErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Custom_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Custom_Error_Message_Codes</name>
        <label>Custom Error Message Codes</label>
        <locationX>504</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>ERROR_CUSTOM_SETTING</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check your custom metadata settings.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ERROR_INVALID_CONTACT</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You can run this flow from a person account only.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ERRORR_INVALID_PERSON_ACCOUNT</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You can run this flow from a task that is related to a person account.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Tracing_Settings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Encounter_Starrt</name>
        <label>Encounter Starrt</label>
        <locationX>5186</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>Employees</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Employees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leads</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Leads</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_and_Select_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Assignment_Invalid_Contact</name>
        <label>Error Assignment Invalid Contact</label>
        <locationX>1762</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>CustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ERROR_INVALID_CONTACT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Custom_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Assignment_Invalid_Contact_0</name>
        <label>Error Assignment Invalid Person Account</label>
        <locationX>1598</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>CustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ERRORR_INVALID_PERSON_ACCOUNT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Custom_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Events_Collection</name>
        <label>Events Collection</label>
        <locationX>7597</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr class=&quot;slds-hint-parent&quot;&gt;       &lt;td data-label=&quot;Encounter&quot;&gt;         &lt;div class=&quot;slds-truncate&quot;&gt;&lt;a href=&quot;/</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactEncounterId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Event_Meeting_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/a&gt;&lt;/div&gt;       &lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td data-label=&quot;Employee&quot;&gt;         &lt;div class=&quot;slds-truncate&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmployeeCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/div&gt;       &lt;/td&gt;       &lt;td data-label=&quot;Lead&quot;&gt;         &lt;div class=&quot;slds-truncate&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/div&gt;       &lt;/td&gt;     &lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_more_encounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Assignments</name>
        <label>Initial Assignments</label>
        <locationX>2011</locationX>
        <locationY>991</locationY>
        <assignmentItems>
            <assignToReference>SearchVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Events</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;table class=&quot;slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered&quot;&gt;   &lt;thead&gt;     &lt;tr class=&quot;slds-line-height_reset&quot;&gt;       &lt;th class=&quot;&quot; scope=&quot;col&quot; title=&quot;Encounter&quot;&gt;         &lt;div class=&quot;slds-truncate&quot;&gt;Encounter&lt;/div&gt;       &lt;/th&gt;       &lt;th class=&quot;&quot; scope=&quot;col&quot; title=&quot;Employee&quot;&gt;         &lt;div class=&quot;slds-truncate&quot;&gt;Number of Employees&lt;/div&gt;       &lt;/th&gt;       &lt;th class=&quot;&quot; scope=&quot;col&quot; title=&quot;Lead&quot;&gt;         &lt;div class=&quot;slds-truncate&quot;&gt;Number of External Contacts&lt;/div&gt;       &lt;/th&gt;     &lt;/tr&gt;   &lt;/thead&gt;   &lt;tbody&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_New_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Placeholder_to_Redirect_Errors</name>
        <label>Placeholder to Redirect Errors</label>
        <locationX>729</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>CustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Custom_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Placeholder_to_Redirect_Errors_0</name>
        <label>Placeholder to Redirect Errors</label>
        <locationX>5215</locationX>
        <locationY>2332</locationY>
        <assignmentItems>
            <assignToReference>CustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Custom_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Placeholder_to_Redirect_Errors_0_0</name>
        <label>Placeholder to Redirect Errors</label>
        <locationX>6667</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>CustomErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Placeholder_to_Redirect_Errors_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Positive_Test</name>
        <label>Positive Test</label>
        <locationX>2774</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>StatusGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PositiveTest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConditionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PositiveTest</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Status_Group_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Positive_Test_0</name>
        <label>Exposed</label>
        <locationX>2772</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>StatusGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exposed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConditionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exposed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Status_Group_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Positive_Test_0_0</name>
        <label>Symptomatic</label>
        <locationX>2768</locationX>
        <locationY>1381</locationY>
        <assignmentItems>
            <assignToReference>StatusGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Symptomatic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConditionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Symptomatic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Status_Group_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Positive_Test_0_0_0</name>
        <label>Not Monitored</label>
        <locationX>2766</locationX>
        <locationY>1536</locationY>
        <assignmentItems>
            <assignToReference>StatusGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotMonitored</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConditionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotMonitored</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Status_Group_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Launched_from</name>
        <label>Set Launched from</label>
        <locationX>1096</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>LaunchedFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>employeeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Primary_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Launched_from_0</name>
        <label>Set Launched from</label>
        <locationX>1086</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>LaunchedFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>employeeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Primary_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Fields</name>
        <label>Update Lead Fields</label>
        <locationX>7665</locationX>
        <locationY>1872</locationY>
        <assignmentItems>
            <assignToReference>LeadRecord.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LEAD_SOURCE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Awaiting Test Results</description>
        <name>AwaitingTestResults</name>
        <choiceText>Awaiting Test Results</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting Test Results</stringValue>
        </value>
    </choices>
    <choices>
        <description>Negative</description>
        <name>Negative</name>
        <choiceText>Negative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Negative</stringValue>
        </value>
    </choices>
    <choices>
        <description>No</description>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Positive</name>
        <choiceText>Positive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Positive</stringValue>
        </value>
    </choices>
    <choices>
        <name>StatusGroupNotYetTested</name>
        <choiceText>Not Yet Tested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Yet Tested</stringValue>
        </value>
    </choices>
    <choices>
        <description>Tested Negative</description>
        <name>TestedNegative</name>
        <choiceText>Tested Negative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tested Negative</stringValue>
        </value>
    </choices>
    <choices>
        <name>TestedPositive</name>
        <choiceText>Tested Positive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tested Positive</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unsure</name>
        <choiceText>Unsure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Don&apos;t Know</stringValue>
        </value>
    </choices>
    <choices>
        <description>Waiting</description>
        <name>Waiting</name>
        <choiceText>Waiting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting</stringValue>
        </value>
    </choices>
    <choices>
        <description>Yes</description>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>LeadLastNameConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Defined</stringValue>
        </value>
    </constants>
    <constants>
        <description>Constant value to add a line break in the concatenated string</description>
        <name>LineBreakConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br /&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_more_encounter</name>
        <label>Add more encounter</label>
        <locationX>7600</locationX>
        <locationY>682</locationY>
        <defaultConnector>
            <targetReference>Create_Data_Table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No more encounter</defaultConnectorLabel>
        <rules>
            <name>AddMoreEncounter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewEncounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encounter_Starrt</targetReference>
            </connector>
            <label>More Encounter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Crisis_record</name>
        <label>Check for Crisis record</label>
        <locationX>3999</locationX>
        <locationY>1315</locationY>
        <defaultConnector>
            <targetReference>Crisis_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Crisis_Record_Created</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Group_Person_Contact</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Custom_Error_Message</name>
        <label>Check for Custom Error Message</label>
        <locationX>1738</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exist</defaultConnectorLabel>
        <rules>
            <name>Does_not_exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CustomErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CustomErrorMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_error_message</targetReference>
            </connector>
            <label>Does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_empty_lead_record</name>
        <label>Check for empty lead record</label>
        <locationX>7273</locationX>
        <locationY>1421</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Lead Not Empty</defaultConnectorLabel>
        <rules>
            <name>If_Lead_Record_Empty</name>
            <conditionLogic>1 OR (2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>LeadRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadRecord.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadRecord.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadRecord.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadRecord.Company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_leads</targetReference>
            </connector>
            <label>If Lead Record Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_External_Contacts</name>
        <label>Check for External Contacts</label>
        <locationX>6784</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Create_Encounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No more external contacts</defaultConnectorLabel>
        <rules>
            <name>More_external_contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMoreExternalContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_Contacts</targetReference>
            </connector>
            <label>More external contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_more_employees</name>
        <label>Check for more employees</label>
        <locationX>5715</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>External_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No more employees</defaultConnectorLabel>
        <rules>
            <name>If_more_employees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMoreCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Contact_Collection</targetReference>
            </connector>
            <label>If more employees</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_more_employees_in_other_employees_screen</name>
        <label>Check for more employees in other employees screen</label>
        <locationX>6396</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>External_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No more employees</defaultConnectorLabel>
        <rules>
            <name>If_more_employees01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMoreEmployees02</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Contact_Collection</targetReference>
            </connector>
            <label>If more employees</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Valid_Employee</name>
        <label>Check For Valid Employee</label>
        <locationX>6133</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>EmployeeAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Is_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Employee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Employee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_employees</targetReference>
            </connector>
            <label>Is Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Care_Program_Enrolle_is_not_null</name>
        <label>Check if Care Program Enrolle is not null</label>
        <locationX>3333</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>Un_Enroll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CareProgramEnrollee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CareProgramEnrollee.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Health_Status</targetReference>
            </connector>
            <label>Does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_primary_employee_is_not_null</name>
        <label>Check if primary employee is not null</label>
        <locationX>1465</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>CareProgramEnrollee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Employee</defaultConnectorLabel>
        <rules>
            <name>No_Employee</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Employee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Employee.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Assignment_Invalid_Contact</targetReference>
            </connector>
            <label>No Employee</label>
        </rules>
        <rules>
            <name>If_Person_Account_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Employee.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Assignment_Invalid_Contact_0</targetReference>
            </connector>
            <label>Person Account Not Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_primary_employee_is_not_null_0</name>
        <label>Check if primary employee is not null</label>
        <locationX>1751</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Initial_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Contact</defaultConnectorLabel>
        <rules>
            <name>If_Person_Account_Enabled_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Contact.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Assignment_Invalid_Contact</targetReference>
            </connector>
            <label>Person Account Not Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Invocation_of_Employee_Crisis_Assessment</name>
        <label>Check Invocation of Employee Crisis Assessment</label>
        <locationX>3786</locationX>
        <locationY>1307</locationY>
        <defaultConnector>
            <targetReference>Update_Status_Group_Person_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not Invoke</defaultConnectorLabel>
        <rules>
            <name>Invoke</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EVOKE_EMPLOYEE_CRISIS_ASSESSMENT_APEX_ACTION</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Employee_Crisis_Assessment</targetReference>
            </connector>
            <label>Invoke</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Last_Name</name>
        <label>Check Lead Last Name</label>
        <locationX>7496</locationX>
        <locationY>1593</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LeadRecord.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadRecord.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Name</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exposed</name>
        <label>Exposed?</label>
        <locationX>2421</locationX>
        <locationY>1217</locationY>
        <defaultConnector>
            <targetReference>Symptoms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Know</defaultConnectorLabel>
        <rules>
            <name>ExposedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdoCloseContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Positive_Test_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Authorization_Form_Consent_Present</name>
        <label>If Authorization Form Consent Present</label>
        <locationX>4613</locationX>
        <locationY>1864</locationY>
        <defaultConnector>
            <targetReference>For_Each_Data_Use_Purpose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Present</defaultConnectorLabel>
        <rules>
            <name>If_Present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Auth_Form_Consent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Denied</targetReference>
            </connector>
            <label>Does not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Care_Program_Enrollee_Exist</name>
        <label>If Care Program Enrollee Exist</label>
        <locationX>4607</locationX>
        <locationY>688</locationY>
        <defaultConnector>
            <targetReference>Disclosures_and_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CareProgramEnrollee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Encounter_Starrt</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Launched_from_Task</name>
        <label>If Launched from Task</label>
        <locationX>3117</locationX>
        <locationY>640</locationY>
        <defaultConnector>
            <targetReference>Check_if_Care_Program_Enrolle_is_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account</defaultConnectorLabel>
        <rules>
            <name>LaunchedFromTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LaunchedFrom</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Task</targetReference>
            </connector>
            <label>Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Tracing</name>
        <label>If Tracing</label>
        <locationX>4001</locationX>
        <locationY>928</locationY>
        <defaultConnector>
            <targetReference>If_Care_Program_Enrollee_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>Tracing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NotMonitored</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Launched_from_Task</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_valid_Person_Account</name>
        <label>If valid Person Account</label>
        <locationX>6132</locationX>
        <locationY>1975</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Encounter_Participant_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Valid</defaultConnectorLabel>
        <rules>
            <name>Is_InValid_Person_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EmployeeAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmployeeAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_employees</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Group_Changed</name>
        <label>Is Status Group Changed</label>
        <locationX>3391</locationX>
        <locationY>1297</locationY>
        <defaultConnector>
            <targetReference>If_Tracing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did not chagned</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Contact.HealthCloudGA__StatusGroup__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>StatusGroup</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Invocation_of_Employee_Crisis_Assessment</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Launched_from_Task</name>
        <label>Launched from Task</label>
        <locationX>919</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>Set_Launched_from</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task Exist</defaultConnectorLabel>
        <rules>
            <name>Task_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Launched_from_0</targetReference>
            </connector>
            <label>Task Does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Symptoms</name>
        <label>Symptoms</label>
        <locationX>2573</locationX>
        <locationY>1390</locationY>
        <defaultConnector>
            <targetReference>Positive_Test_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SymptomsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdoSymptom</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Positive_Test_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Outcome</name>
        <label>Test Outcome?</label>
        <locationX>2272</locationX>
        <locationY>1084</locationY>
        <defaultConnector>
            <targetReference>Exposed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Waiting</defaultConnectorLabel>
        <rules>
            <name>TestOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdoOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Positive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Positive_Test</targetReference>
            </connector>
            <label>Positive</label>
        </rules>
        <rules>
            <name>TestOutcomeNegative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdoOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Negative</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Positive_Test_0_0_0</targetReference>
            </connector>
            <label>Negative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tested</name>
        <label>Tested?</label>
        <locationX>2113</locationX>
        <locationY>1389</locationY>
        <defaultConnector>
            <targetReference>Symptoms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>TestedPositiveOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdoTested</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Outcome</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountSearchResultChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SearchVar</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Role Picklist of Case Contact Role</description>
        <name>CaseContactRolePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role</picklistField>
        <picklistObject>CaseContactRole</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>TASK_DUE_DATE</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}), MONTH({!$Flow.CurrentDate}), DAY({!$Flow.CurrentDate})) + 1</expression>
    </formulas>
    <interviewLabel>Employee Evaluation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Evaluation Flow</label>
    <loops>
        <name>For_Each_Data_Use_Purpose</name>
        <label>For Each Data Use Purpose</label>
        <locationX>4619</locationX>
        <locationY>1284</locationY>
        <assignNextValueToReference>DataUsePurpose</assignNextValueToReference>
        <collectionReference>Get_Data_Use_Purpose</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Authorization_Form_Data_Use</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Care_Program_Enrolee</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_employees</name>
        <label>Loop through all employees</label>
        <locationX>5652</locationX>
        <locationY>1429</locationY>
        <assignNextValueToReference>Employee</assignNextValueToReference>
        <collectionReference>Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_Valid_Employee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_all_leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_leads</name>
        <label>Loop through all leads</label>
        <locationX>6878</locationX>
        <locationY>1422</locationY>
        <assignNextValueToReference>LeadRecord</assignNextValueToReference>
        <collectionReference>Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_empty_lead_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Participant_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Care_Program_Enrolee</name>
        <label>Create Care Program Enrolee</label>
        <locationX>4878</locationX>
        <locationY>1085</locationY>
        <connector>
            <targetReference>Create_Follow_up_Task_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Primary_Employee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CareProgramId</field>
            <value>
                <elementReference>Care_Program.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Primary_Employee.Name</elementReference>
            </value>
        </inputAssignments>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Encounter_Participant</name>
        <label>Create Contact Encounter Participant</label>
        <locationX>7076</locationX>
        <locationY>1863</locationY>
        <connector>
            <targetReference>Create_Follow_up_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactEncounterId</field>
            <value>
                <elementReference>ContactEncounterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>LeadRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContactEncounterParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Encounter_Participant_0</name>
        <label>Create Contact Encounter Participant</label>
        <locationX>6483</locationX>
        <locationY>1981</locationY>
        <connector>
            <targetReference>Create_Follow_up_Task_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactEncounterId</field>
            <value>
                <elementReference>ContactEncounterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Employee</elementReference>
            </value>
        </inputAssignments>
        <object>ContactEncounterParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Encounter_Participant_0_0</name>
        <label>Create Contact Encounter Participant</label>
        <locationX>7099</locationX>
        <locationY>1199</locationY>
        <connector>
            <targetReference>Report_more_encounter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactEncounterId</field>
            <value>
                <elementReference>ContactEncounterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Primary_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContactEncounterParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Encounter</name>
        <label>Create Encounter</label>
        <locationX>5653</locationX>
        <locationY>813</locationY>
        <assignRecordIdToReference>ContactEncounterId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_through_all_employees</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EncounterDuration</field>
            <value>
                <elementReference>MeetingDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedParticipantCount</field>
            <value>
                <elementReference>ParticipantCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>LocationLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Event_Meeting_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <object>ContactEncounter</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Follow_up_Task</name>
        <label>Create Follow up Task</label>
        <locationX>6879</locationX>
        <locationY>1863</locationY>
        <connector>
            <targetReference>Add_Participant_Count_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TASK_DUE_DATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>External_Contact_Task_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>External_Contact_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Contact_Tracing_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Follow_up_Task_0</name>
        <label>Create Follow up Task</label>
        <locationX>6491</locationX>
        <locationY>1408</locationY>
        <connector>
            <targetReference>Add_Participant_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TASK_DUE_DATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Employee_Task_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Employee_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Contact_Tracing_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>EmployeeAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Follow_up_Task_0_0</name>
        <label>Create Follow up Task</label>
        <locationX>5186</locationX>
        <locationY>1081</locationY>
        <connector>
            <targetReference>Person_Life_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TASK_DUE_DATE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Employee_Task_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Employee_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Contact_Tracing_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Primary_Employee.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>7277</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Create_Contact_Encounter_Participant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0_0</targetReference>
        </faultConnector>
        <inputReference>LeadRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Person_Life_Event</name>
        <label>Person Life Event</label>
        <locationX>5402</locationX>
        <locationY>1081</locationY>
        <connector>
            <targetReference>Encounter_Starrt</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EventDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType</field>
            <value>
                <elementReference>LIVE_EVENT_TYPE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Enrolled to {!Care_Program.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrimaryPersonId</field>
            <value>
                <elementReference>Primary_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PersonLifeEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Care_Program</name>
        <label>Care Program</label>
        <locationX>911</locationX>
        <locationY>868</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Tracing_Settings.emptracing__CareProgram_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgram</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CareProgramEnrollee</name>
        <label>CareProgramEnrollee</label>
        <locationX>1468</locationX>
        <locationY>1154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_for_Custom_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Primary_Employee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CareProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Care_Program.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Contact Tracing Settings</description>
        <name>Contact_Tracing_Settings</name>
        <label>Contact Tracing Settings</label>
        <locationX>506</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>External_Contact_Task_Queue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors</targetReference>
        </faultConnector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>emptracing__Contact_Tracing_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Employee_Person_Account_Record_Type</name>
        <label>Employee Person Account Record Type</label>
        <locationX>538</locationX>
        <locationY>1386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>External_Lead_RecordType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Tracing_Settings.emptracing__Employee_PersonAccount_RecordType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Employee_Task_Queue</name>
        <label>Employee Task Queue</label>
        <locationX>902</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Care_Program</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Tracing_Settings.emptracing__Employee_ContactTracing_Task_Queue__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Employee_Task_Record_Type</name>
        <label>Employee Task Record Type</label>
        <locationX>522</locationX>
        <locationY>886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>External_Contact_Task_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Tracing_Settings.emptracing__Employee_ContactTracing_Task_RecordType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>EmployeeAccount</name>
        <label>EmployeeAccount</label>
        <locationX>6148</locationX>
        <locationY>1657</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_valid_Person_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Employee</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>External_Contact_Task_Queue</name>
        <label>External Contact Task Queue</label>
        <locationX>514</locationX>
        <locationY>616</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_Task_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Tracing_Settings.emptracing__External_ContactTracing_Task_Queue__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>External_Contact_Task_Record_Type</name>
        <label>External Contact Task Record Type</label>
        <locationX>531</locationX>
        <locationY>1124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_Person_Account_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Tracing_Settings.emptracing__External_ContactTracing_Task_RecordType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>External_Lead_RecordType</name>
        <label>External Lead_RecordType</label>
        <locationX>894</locationX>
        <locationY>1386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_Task_Queue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Tracing_Settings.emptracing__External_ContactTracing_Lead_RecordType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Auth_Form_Consent</name>
        <label>Get Auth Form Consent</label>
        <locationX>4870</locationX>
        <locationY>1862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Authorization_Form_Consent_Present</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AuthorizationFormTextId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAuthorizationFormText.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ConsentGiverId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Primary_Employee.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AuthorizationFormConsent</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Authorization_Form_Data_Use</name>
        <label>Get Authorization Form Data Use</label>
        <locationX>4868</locationX>
        <locationY>1467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAuthorizationFormText</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DataUsePurposeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataUsePurpose.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AuthorizationFormDataUse</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AuthorizationFormId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Use_Purpose</name>
        <label>Get Data Use Purpose</label>
        <locationX>4617</locationX>
        <locationY>1095</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Data_Use_Purpose</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PurposeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Care_Program.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAuthorizationFormText</name>
        <label>AuthorizationFormText</label>
        <locationX>4868</locationX>
        <locationY>1689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Auth_Form_Consent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AuthorizationFormId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Authorization_Form_Data_Use.AuthorizationFormId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AuthorizationFormText</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Primary Contact</description>
        <name>Primary_Contact</name>
        <label>Primary_Contact</label>
        <locationX>1761</locationX>
        <locationY>1158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_primary_employee_is_not_null_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_for_Custom_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Primary_Employee.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HealthCloudGA__StatusGroup__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Primary_Employee</name>
        <label>Primary Employee</label>
        <locationX>1259</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_primary_employee_is_not_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_for_Custom_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employeeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Task</name>
        <label>Task</label>
        <locationX>919</locationX>
        <locationY>668</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Launched_from_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Task</name>
        <label>Close Task</label>
        <locationX>3241</locationX>
        <locationY>1018</locationY>
        <connector>
            <targetReference>Check_if_Care_Program_Enrolle_is_not_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_for_Custom_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Un_Enroll</name>
        <label>Un Enroll</label>
        <locationX>3487</locationX>
        <locationY>1028</locationY>
        <connector>
            <targetReference>Confirm_Health_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_for_Custom_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareProgramEnrollee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>CareProgramEnrollee</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Participant_Count</name>
        <label>Update Participant Count</label>
        <locationX>6876</locationX>
        <locationY>1213</locationY>
        <connector>
            <targetReference>All_Records_Saved_for_Internal_And_External_Contacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Placeholder_to_Redirect_Errors_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactEncounterId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EstimatedParticipantCount</field>
            <value>
                <elementReference>ParticipantCount</elementReference>
            </value>
        </inputAssignments>
        <object>ContactEncounter</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Group_Person_Contact</name>
        <label>Update Status Group</label>
        <locationX>4008</locationX>
        <locationY>1125</locationY>
        <connector>
            <targetReference>If_Tracing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_for_Custom_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Primary_Employee.PersonContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HealthCloudGA__ConditionStatus__c</field>
            <value>
                <elementReference>ConditionStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__StatusGroup__c</field>
            <value>
                <elementReference>StatusGroup</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Confirm_Health_Status</name>
        <label>Confirm Health Status</label>
        <locationX>3518</locationX>
        <locationY>641</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Update Health Status&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Thanks for your time. Based on your answers, we don&apos;t have to trace your contacts. If your condition changes, please contact us immediately for a re-evaluation.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>8451</locationX>
        <locationY>671</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;i&gt;Thank you for providing information on the employees and other individuals you&apos;ve had contact with.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employee_ContactTracing_Success</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Employee_ContactTracing_Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Consent Denied</description>
        <name>Consent_Denied</name>
        <label>Consent Denied</label>
        <locationX>4375</locationX>
        <locationY>1865</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConsentDeniedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Consent to Enroll in the &lt;/b&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Contact_Tracing_Settings.emptracing__CareProgram_Name__c}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;We are unable to enroll you in the care program without your consent.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employee_ContactTracing_Consent_Denied</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Employee_ContactTracing_Consent_Denied</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Consent Denied</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disclosures_and_Consent</name>
        <label>Disclosures and Consent</label>
        <locationX>4615</locationX>
        <locationY>928</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Data_Use_Purpose</targetReference>
        </connector>
        <fields>
            <name>ConsentText</name>
            <fieldText>&lt;p&gt;&lt;i&gt;Please listen carefully while I read the following statement. Ill ask you to confirm that you understand the statement and are consenting to and agreeing with that statement. Once you confirm your consent, Ill record your consent to opt in to the program.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Consent</name>
            <extensionName>healthcloud:consentFormListView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>careprogramId</name>
                <value>
                    <elementReference>Care_Program.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enrolleeId</name>
                <value>
                    <elementReference>Primary_Employee.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>patientId</name>
                <value>
                    <elementReference>Primary_Employee.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>careProgramConsentEnrolee</assignToReference>
                <name>patientId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_Contact_Collection</name>
        <label>Employee Contact Collection</label>
        <locationX>5726</locationX>
        <locationY>309</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Collection_for_Employees_in_Other_Employees_Screen</targetReference>
        </connector>
        <fields>
            <name>EmployeeContactCollection</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Collect Employee Contact Encounter Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmployeesMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Employees&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OtherEmployee01</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OtherEmployee02</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OtherEmployee03</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OtherEmployee04</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OtherEmployee05</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OtherEmployee06</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OtherEmployee07</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OtherEmployee08</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OtherEmployee09</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OtherEmployee10</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Space02</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddMoreEmployees02</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add more employees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error Screen</description>
        <name>ErrorScreen</name>
        <label>Error!!!</label>
        <locationX>1628</locationX>
        <locationY>406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactTracingErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;An unexpected error occurred in the flow. Your Salesforce admin can help with that.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Details: &lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!CustomErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Evaluate New Employee</description>
        <name>Evaluate_New_Employee</name>
        <label>Evaluate New Employee</label>
        <locationX>2008</locationX>
        <locationY>628</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tested</targetReference>
        </connector>
        <fields>
            <name>HealthStatus</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Update Health Status&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;In order to update your health status, I&apos;ll ask you a series of health-related questions.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>rdoTested</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you been tested?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rdoOutcome</name>
            <choiceReferences>Positive</choiceReferences>
            <choiceReferences>Negative</choiceReferences>
            <choiceReferences>Waiting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What was your test result?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>rdoTested</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>rdoCloseContact</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>Unsure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you had contact with someone who is symptomatic or who has tested positive for COVD-19?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>rdoOutcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Waiting</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>rdoTested</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>rdoSymptom</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you experiencing symptoms of COVID-19?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>rdoTested</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>rdoCloseContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Unsure</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>External_Contacts</name>
        <label>External Contacts</label>
        <locationX>6407</locationX>
        <locationY>527</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Collection_for_external_contacts_0</targetReference>
        </connector>
        <fields>
            <name>ExternalContactsDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Collect External Contact Encounter Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Provide any details you have on the external contacts who also attended the contact encounter.&amp;nbsp;&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExternalContactDisplayText1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;External Contact&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExternalContacFirstName01</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContacLastName01</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContactCompanyName01</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContactEmail01</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ExternalContact2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;External Contact&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExternalContactFirstName02</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContacLastName02</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContactCompanyName02</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContactEmail02</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ExternalContact3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;External Contact&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExternalContactFirstName03</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContacLastName03</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContactCompanyName03</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContactEmail03</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ExternalContact4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;External Contact&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExternalContactFirstName04</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContacLastName04</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContactCompanyName04</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContactEmail04</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ExternalContact5</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;External Contact&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExternalContactFirstName05</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContacLastName05</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContactCompanyName05</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExternalContactEmail05</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Spae03</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddMoreExternalContacts</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add more external contacts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Report_more_encounter</name>
        <label>Report more encounter</label>
        <locationX>7307</locationX>
        <locationY>1040</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Events_Collection</targetReference>
        </connector>
        <fields>
            <name>NewContactEncounterDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;New Contact Encounter&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewEncounter</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Do you have another encounter to add?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>In this screen users can use the search or/and select records</description>
        <name>Search_and_Select_Records</name>
        <label>Add Encounter</label>
        <locationX>5184</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Collection_For_Add_Employees_Initial_Screen</targetReference>
        </connector>
        <fields>
            <name>EncounterDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Collect Employee Contact Encounter Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;We&apos;d like to collect information on people you&apos;ve had contact with, particularly during business hours or while performing work-related activities. Please name any coworkers or external contacts with whom youve spent more than 15 minutes of time within a 6-foot distance during the past 14 days. For example, describe any meetings or business gatherings you were present for and provide the names of other employees or individuals who were also present.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Event_Meeting_Name</name>
            <dataType>String</dataType>
            <fieldText>Event or Meeting Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Start Date cannot be in the future&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Date_Time} &lt;={!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>MeetingDuration</name>
            <dataType>Number</dataType>
            <fieldText>Duration in Minutes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>LocationLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>LocationId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounter</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddEmployee</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Employees&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LookupEmployee01</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LookupEmployee02</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LookupEmployee03</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LookupEmployee04</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LookupEmployee05</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Employee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ContactEncounterParticipant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddMoreCheckbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add more employees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>8196</locationX>
        <locationY>672</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>EmployeeList</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Encounter Summary&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Events}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>41</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Configuration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AuthFormConsent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AuthorizationFormConsent</objectType>
    </variables>
    <variables>
        <name>AuthorizationForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AuthorizationForm</objectType>
    </variables>
    <variables>
        <name>AuthorizationFormText</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AuthorizationFormText</objectType>
    </variables>
    <variables>
        <name>careProgramConsentEnrolee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Contact Role Record Variable</description>
        <name>CaseContactRoleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseContactRole</objectType>
    </variables>
    <variables>
        <name>concatenatedExternalContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>String variable to store a concatenated string with selected values</description>
        <name>ConcatenateTextVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Condition status field in Account object</description>
        <name>ConditionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Tracing_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Contact tracing follow up</stringValue>
        </value>
    </variables>
    <variables>
        <description>Collection Variable of Contact records</description>
        <name>ContactCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactEncounterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop variable</description>
        <name>ContactLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CrisisErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataUsePurpose</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DataUsePurpose</objectType>
    </variables>
    <variables>
        <name>Duration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Employee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployeeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>employeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Employees</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmployeesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>EncounterLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ERROR_CUSTOM_SETTING</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ERROR_INVALID_CONTACT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ERROR_NO_EMPLOYEE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ERRORR_INVALID_PERSON_ACCOUNT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Events</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EVOKE_EMPLOYEE_CRISIS_ASSESSMENT_APEX_ACTION</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExternalAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ExternalAccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ExternalContactLists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ExternalContactsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FilteredLeadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Is_Crisis_Record_Created</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LastNameConstant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>-</stringValue>
        </value>
    </variables>
    <variables>
        <name>LaunchedFrom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Lead2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Lead3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Lead4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Lead5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LEAD_SOURCE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Defined</stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Leads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LIVE_EVENT_TYPE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationLookupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>ParticipantCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold the search input</description>
        <name>SearchVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccountCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Selected records collection variable</description>
        <name>SelectedContactCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedPersonRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>StatusGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
