flows/Leave_Of_Absence.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_Case_For_Approval</name>
        <label>Submit Case For Approval</label>
        <locationX>59</locationX>
        <locationY>325</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Add_Case_to_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>WDO_Manager_LOA_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Case_to_Request</name>
        <label>Add Case to Request</label>
        <locationX>216</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>SvcCatalogRelatedRecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Thank_you_for_submitting_your_leave_request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RecordTypeId_Var</name>
        <label>Set RecordTypeId Var</label>
        <locationX>58</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LOA_Reason</name>
        <label>LOA Reason</label>
        <locationX>970</locationX>
        <locationY>456</locationY>
        <defaultConnector>
            <targetReference>Get_Employee_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Leave Types</defaultConnectorLabel>
        <rules>
            <name>Having_a_Child</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOAReason</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Childbirth</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_and_Next_Steps</targetReference>
            </connector>
            <label>Having a Child</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LOAReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LOA_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Leave Of Absence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[WDO - SC] Leave Of Absence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>59</locationX>
        <locationY>486</locationY>
        <assignRecordIdToReference>CaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Submit_Case_For_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Anticipated_Work_Return_Date__c</field>
            <value>
                <elementReference>When_do_you_anticipate_returning_to_work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_PersonAccount_Record.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>tt_casedescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Day_Away_from_Work__c</field>
            <value>
                <elementReference>What_will_be_your_first_day_away_from_work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LOA_Reason__c</field>
            <value>
                <elementReference>LOAReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Employee Workspace</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>HR Transaction - Place Employee on Leave of Absence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Transaction Request - Place Employee on Leave of Absence </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Transaction Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_RecordType</name>
        <label>Get Case RecordType</label>
        <locationX>190</locationX>
        <locationY>624</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_RecordTypeId_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR - Leave</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Record</name>
        <label>Get Employee Record</label>
        <locationX>484</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PersonAccount_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PersonAccount_Record</name>
        <label>Get PersonAccount Record</label>
        <locationX>332</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_Record.RelatedPersonId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_and_Next_Steps</name>
        <label>Confirmation and Next Steps</label>
        <locationX>658</locationX>
        <locationY>655</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Employee_Record</targetReference>
        </connector>
        <fields>
            <name>congrats</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;Congrats on the upcoming birth of your child.  We will start the paperwork for your leave beginning {!What_will_be_your_first_day_away_from_work}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hrrepresentative</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;Your case will be assigned to an HR Representative. They will provide their contact information in a an email along with your case number for future reference.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Having_a_Child1</name>
        <label>Having a Child</label>
        <locationX>639</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LOA_Reason</targetReference>
        </connector>
        <fields>
            <name>When_do_you_anticipate_returning_to_work</name>
            <dataType>Date</dataType>
            <defaultValue>
                <dateValue>2022-06-01</dateValue>
            </defaultValue>
            <fieldText>When do you anticipate returning to work?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Leave_of_Absence_Request_Process</name>
        <label>Leave of Absence Request Process</label>
        <locationX>647</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Having_a_Child1</targetReference>
        </connector>
        <fields>
            <name>What_will_be_your_first_day_away_from_work</name>
            <dataType>Date</dataType>
            <defaultValue>
                <dateValue>2022-01-01</dateValue>
            </defaultValue>
            <fieldText>What will be your first day away from work?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_the_reason_for_your_leave_of_absence</name>
            <choiceReferences>LOAReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the reason for your leave of absence?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Leave_Types</name>
        <label>Other Leave Types</label>
        <locationX>1147</locationX>
        <locationY>628</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hereiswhere</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;Here is where you would capture additional information to support other types of LOA requests. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;Please back up and choose &apos;child&apos;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you_for_submitting_your_leave_request</name>
        <label>Thank you for submitting your leave request</label>
        <locationX>58</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmationmessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36);&quot;&gt;Your leave of absence request has been successfully captured.  Next steps and additional information should already be in your inbox.  We look forward to helping you through this part of the employee journey.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>226</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Leave_of_Absence_Request_Process</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>tt_casedescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Reason for Leave: {!What_is_the_reason_for_your_leave_of_absence}
Requested Start Date: {!What_will_be_your_first_day_away_from_work}
Anticipated Return Date: {!When_do_you_anticipate_returning_to_work}</text>
    </textTemplates>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SvcCatalogRelatedRecordIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
