flows/onboarding_week_1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_cb1319a2_c9ae_4401_b111_b42ac41c3e85</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_501b5de7_f0df_458f_ba5f_3a2a118d483a</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_1add333c_ea4b_4be6_bf14_4c8eed8dfc32</name>
        <choiceText>Remote/Hybrid working opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remote/Hybrid working opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_203c02fc_be83_4b83_9193_7889fbe77ee5</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_24bcf81e_1b65_4215_b614_5fe744eacbb6</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3f2d93b0_8a68_4aa5_acad_2660c60ced89</name>
        <choiceText>I love the Medical Industry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I love the Medical Industry</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_43d28b80_f888_4766_ad5b_c5bff38ab619</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_454056ce_e7d5_4fd1_a557_dad3521e8540</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_671e36a4_20ef_46af_adef_cd5fda41ea26</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6ec5f076_0ef4_48b4_ac2f_7e70d84b4e1a</name>
        <choiceText>I was referred by an existing employee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I was referred by an existing employee</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_70d192fb_c78d_49c5_b263_40722ccfa12a</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_73e74ded_4d96_4556_bcf8_0030ecc515a1</name>
        <choiceText>Salary/Remuneration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salary/Remuneration</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7c5d19e3_6bdf_4382_ad8a_7319578f0c88</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_89091562_549a_44b6_be1f_5b0b1fc2cc8d</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8bf19971_4f72_4f17_bc8d_4efea916043e</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8f5cf0d5_b7f2_4100_a1a6_78b24dc8d1f1</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_904d7061_dfa3_4a4e_9fda_e2e502cac835</name>
        <choiceText>Career Opportunities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Career Opportunities</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9d14c859_6513_48ca_80fc_d680f77d9401</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a172ede3_e469_420b_8c83_7e0810c72e39</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a36b0604_2650_4ce0_8b52_46ef6488234b</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b5f3737a_5f10_4667_83d8_7e256ca620c8</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d4be3708_9325_4ca4_a396_32545e644816</name>
        <choiceText>Company Values</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company Values</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_da656d6a_baa9_4284_a77b_8629872e2dec</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e1f192e2_8b28_4eb4_a6ac_c2f09f2556b9</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e8be4f7e_3e09_40b7_8abc_050a7d18b0b5</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_efbcfd82_d595_4bcb_b380_59d5ef5ee323</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f48c7b68_166c_4c22_8ae7_8176ca94eb35</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f4b1b812_a6d0_46a2_a8a2_3aa783f537dc</name>
        <choiceText>I was ready for a change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I was ready for a change</stringValue>
        </value>
    </choices>
    <interviewLabel>Onboarding Week 1</interviewLabel>
    <label>Onboarding Week 1</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_onboarding_week_1_e0b40272_226a_4049_b040_5c08b128fd35</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_501b5de7_f0df_458f_ba5f_3a2a118d483a</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_5f1ef070_6979_4ea0_87f7_7384566d1014_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_5f1ef070_6979_4ea0_87f7_7384566d1014</name>
            <choiceReferences>c_203c02fc_be83_4b83_9193_7889fbe77ee5</choiceReferences>
            <choiceReferences>c_70d192fb_c78d_49c5_b263_40722ccfa12a</choiceReferences>
            <choiceReferences>c_da656d6a_baa9_4284_a77b_8629872e2dec</choiceReferences>
            <choiceReferences>c_efbcfd82_d595_4bcb_b380_59d5ef5ee323</choiceReferences>
            <choiceReferences>c_671e36a4_20ef_46af_adef_cd5fda41ea26</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;I am feeling welcomed here&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Onboarding Experience</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_18905118_65c3_487c_a69a_3f88293df4de_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_18905118_65c3_487c_a69a_3f88293df4de</name>
            <choiceReferences>c_9d14c859_6513_48ca_80fc_d680f77d9401</choiceReferences>
            <choiceReferences>c_7c5d19e3_6bdf_4382_ad8a_7319578f0c88</choiceReferences>
            <choiceReferences>c_89091562_549a_44b6_be1f_5b0b1fc2cc8d</choiceReferences>
            <choiceReferences>c_e8be4f7e_3e09_40b7_8abc_050a7d18b0b5</choiceReferences>
            <choiceReferences>c_8f5cf0d5_b7f2_4100_a1a6_78b24dc8d1f1</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;I am proud to work for Makana&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Onboarding Process</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_aa5b55a8_bb0a_4784_a119_54f3e2a08c11</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;What&apos;s one thing we could have done differently to improve the first week of your onboarding experience?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Recruitment/HR</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_54232053_0e22_4af4_a20c_997675c9ba2d</name>
            <choiceReferences>c_43d28b80_f888_4766_ad5b_c5bff38ab619</choiceReferences>
            <choiceReferences>c_454056ce_e7d5_4fd1_a557_dad3521e8540</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;I know where to go if I need to find out how to use any of the systems/tech that I need to do my job&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Onboarding - Quick access to relevant training material</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_73900496_34ea_498d_bb11_323c0c5d90ac</name>
            <choiceReferences>c_e1f192e2_8b28_4eb4_a6ac_c2f09f2556b9</choiceReferences>
            <choiceReferences>c_b5f3737a_5f10_4667_83d8_7e256ca620c8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;I know where to go to get my questions answered quickly&lt;/span&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Onboarding Experience</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_cb1319a2_c9ae_4401_b111_b42ac41c3e85</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_501b5de7_f0df_458f_ba5f_3a2a118d483a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ece830c7_994c_4f91_852e_f7ae5a3229b8</name>
            <dataType>Date</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;My first day with Makana was...&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Recruitment/HR</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b0c20705_8d97_41f3_b937_be5782f681ea_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_b0c20705_8d97_41f3_b937_be5782f681ea</name>
            <choiceReferences>c_f48c7b68_166c_4c22_8ae7_8176ca94eb35</choiceReferences>
            <choiceReferences>c_a36b0604_2650_4ce0_8b52_46ef6488234b</choiceReferences>
            <choiceReferences>c_a172ede3_e469_420b_8c83_7e0810c72e39</choiceReferences>
            <choiceReferences>c_8bf19971_4f72_4f17_bc8d_4efea916043e</choiceReferences>
            <choiceReferences>c_24bcf81e_1b65_4215_b614_5fe744eacbb6</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;I was provided accurate information about Makana during the recruitment process&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Recruitment/HR</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bdc4d2cd_7690_45de_8d44_19e3cf585217</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Is there something we could have done to improve the recruitment process?&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Recruitment/HR</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b78e5b2d_a596_4f34_a303_53565a21b690</name>
            <choiceReferences>c_d4be3708_9325_4ca4_a396_32545e644816</choiceReferences>
            <choiceReferences>c_73e74ded_4d96_4556_bcf8_0030ecc515a1</choiceReferences>
            <choiceReferences>c_904d7061_dfa3_4a4e_9fda_e2e502cac835</choiceReferences>
            <choiceReferences>c_3f2d93b0_8a68_4aa5_acad_2660c60ced89</choiceReferences>
            <choiceReferences>c_1add333c_ea4b_4be6_bf14_4c8eed8dfc32</choiceReferences>
            <choiceReferences>c_f4b1b812_a6d0_46a2_a8a2_3aa783f537dc</choiceReferences>
            <choiceReferences>c_6ec5f076_0ef4_48b4_ac2f_7e70d84b4e1a</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Please indicate the reasons why you joined Makana&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Recruitment/HR</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f9412867_8304_4e05_9823_f35e514a4f48</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;What were you doing before you began working with Makana?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Recruitment/HR</helpText>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_cb1319a2_c9ae_4401_b111_b42ac41c3e85</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Thank you so much for your feedback - we&apos;ll check in again soon!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Continued success with your onboarding&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;You did it!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://nbeegan-220704-996-demo--c.documentforce.com/file-asset-public/Happy_emoji_for_week_1_employment?oid=00D7Q0000091Nc2&amp;amp;v=1&quot; alt=&quot;Happy emoji for week 1 employment&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Congrats on your first week anniversary with Makana!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;We&apos;d love to hear how you&apos;re doing&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_18905118_65c3_487c_a69a_3f88293df4de_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_5f1ef070_6979_4ea0_87f7_7384566d1014_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b0c20705_8d97_41f3_b937_be5782f681ea_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
