flows/return_readiness.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_22ecd463_ce09_4bb2_a8a1_a65e8ecdb068</name>
        <choiceText>I decline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I decline</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_27489115_3f6b_45cc_bde3_b13aee31c0e6</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2afab538_5a87_4f36_8e8e_5d98c9a35d18</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4fb5cf0b_a529_40f4_b423_b525fd07ebfc</name>
        <choiceText>I agree and consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I agree and consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_70c24960_79c7_4055_8844_0c96dec583cc</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ed026bfb_957e_4d93_b33e_99bcdf2832cd</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_1b26c969_0781_4ca5_a9d8_f8d0ce1793ff</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <constants>
        <name>defaultPageNav</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>d_1d698a2e_c397_42f9_8057_cc26809dfda7</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_790d21ba_7084_4285_9200_50fe5ed099e0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_0292dd52_1e15_45ec_b1c5_316a89ae97bd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_ed1d256e_8fbc_41db_9291_0e12d159c706</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_22ecd463_ce09_4bb2_a8a1_a65e8ecdb068</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_38cb25e7_2ea7_415c_b1e7_a3a47ce3eab7</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_d50e6944_fd17_424d_be42_8fbea85c8d4e</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_acb78999_1bb9_422e_96a7_5054ed2ac684</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_5601579b_572e_45bd_a4cf_f398fee4856d</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a1739d55_00a8_4b05_ba5f_f8f394073e3c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_2afab538_5a87_4f36_8e8e_5d98c9a35d18</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_97960b82_bae3_4ec3_bc4a_bb236561c691</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_97960b82_bae3_4ec3_bc4a_bb236561c691</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_38cb25e7_2ea7_415c_b1e7_a3a47ce3eab7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_3a676d6f_052e_4aa3_806b_85228e802cb4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>defNav_p_acb78999_1bb9_422e_96a7_5054ed2ac684</name>
        <label>my_default_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_97960b82_bae3_4ec3_bc4a_bb236561c691</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_43494216_a9ff_47c7_891e_ca24ee2f21b2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>defaultPageNav</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Return Readiness</interviewLabel>
    <label>Return Readiness</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>return_readiness_3</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_014574d1_1fd5_46a1_81f6_bbce6d5da432</name>
        <label>Consent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_1d698a2e_c397_42f9_8057_cc26809dfda7</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ed1d256e_8fbc_41db_9291_0e12d159c706</name>
            <choiceReferences>c_4fb5cf0b_a529_40f4_b423_b525fd07ebfc</choiceReferences>
            <choiceReferences>c_22ecd463_ce09_4bb2_a8a1_a65e8ecdb068</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;This survey assesses your readiness to return on-site in light of the COVID-19 pandemic. Participation in this survey is optional. However, if you decline to participate, you must remain remote.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Any information you provide in this survey will be used for the sole purpose of determining whether you may return. Any individually-identifiable information will be kept secure and confidential, and access will be strictly limited to those who need to know to ensure a safe and healthy environment for everyone.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;More information about our privacy practices is available in our Privacy Statement.&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_38cb25e7_2ea7_415c_b1e7_a3a47ce3eab7</name>
        <label>Declined{{ref0}}</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6dacb694_3aee_417b_b6f2_d2978768fc97</name>
            <choiceReferences>c_70c24960_79c7_4055_8844_0c96dec583cc</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;You declined to respond so you must remain remote.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select OK to confirm.&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_790d21ba_7084_4285_9200_50fe5ed099e0</name>
        <label>Symptoms Question</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_d50e6944_fd17_424d_be42_8fbea85c8d4e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a1739d55_00a8_4b05_ba5f_f8f394073e3c</name>
            <choiceReferences>c_27489115_3f6b_45cc_bde3_b13aee31c0e6</choiceReferences>
            <choiceReferences>c_2afab538_5a87_4f36_8e8e_5d98c9a35d18</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Is either of these statements true?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Within the past 14 days, I have had contact with someone confirmed or suspected of having COVID-19.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Within the past 14 days, I have experienced the onset of at least one of these symptoms:&lt;/p&gt;&lt;p&gt;* Fever&lt;/p&gt;&lt;p&gt;* Cough&lt;/p&gt;&lt;p&gt;* Shortness of breath&lt;/p&gt;&lt;p&gt;* Muscle aches&lt;/p&gt;&lt;p&gt;* Chills&lt;/p&gt;&lt;p&gt;* Sore throat&lt;/p&gt;&lt;p&gt;* Headache&lt;/p&gt;&lt;p&gt;* Loss of taste or smell&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_97960b82_bae3_4ec3_bc4a_bb236561c691</name>
        <label>No Symptoms{{ref2}}</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_97960b82_bae3_4ec3_bc4a_bb236561c691</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ff16c60f_a356_48cc_ad5f_14d49fe3feca</name>
            <choiceReferences>c_ed026bfb_957e_4d93_b33e_99bcdf2832cd</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;Based on your response, you may return on-site.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select OK to confirm that the information you provided is accurate.&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_acb78999_1bb9_422e_96a7_5054ed2ac684</name>
        <label>Symptoms or Exposed {{ref1}}</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>defNav_p_acb78999_1bb9_422e_96a7_5054ed2ac684</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9359c847_a008_4384_bd3e_28de6eede2d4</name>
            <choiceReferences>S_1b26c969_0781_4ca5_a9d8_f8d0ce1793ff</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;Based on your response, you aren&apos;t ready to return on-site yet.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select OK to confirm that the information you provided is accurate.&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>p_014574d1_1fd5_46a1_81f6_bbce6d5da432</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;Thank you for completing this survey and for your support in this process as we try to ensure a safe and healthy environment for everyone.&lt;/span&gt;&lt;b style=&quot;font-family: tahoma;&quot;&gt; &lt;/b&gt;&lt;b&gt;Prior to returning, we ask that you complete the &quot;Welcome Back to the Workplace&quot; trail available on Trailhead.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://blitz-dom-147--c.documentforce.com/file-asset-public/Screen_Shot_20201016_at_110613_AM?oid=00D5w0000079VO5&amp;amp;v=1&quot; alt=&quot;Screen Shot 2020-10-16 at 11.06.13 AM&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
