flows/WDO_DEMO_Auto_associate_Hamiltons_Assets_to_New_Cases.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>DynamicCaseAssetName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}&amp;&quot;-&gt;&quot;&amp;{!For_each_Asset.Id}</expression>
    </formulas>
    <interviewLabel>[WDO-DEMO] Auto associate Hamiltons Assets to New Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Auto associate Hamiltons Assets to New Cases</label>
    <loops>
        <name>For_each_Asset</name>
        <label>For each Asset</label>
        <locationX>603</locationX>
        <locationY>338</locationY>
        <collectionReference>Get_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Forge_wkitsm_Case_Asset_relation</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Forge_wkitsm_Case_Asset_relation</name>
        <label>Forge wkitsm.Case-Asset relation</label>
        <locationX>601</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>Associate_Case_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DynamicCaseAssetName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__AssetId__c</field>
            <value>
                <elementReference>For_each_Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__CaseId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>wkitsm__CaseAssetAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>463</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Details</name>
        <label>Get Person Details</label>
        <locationX>333</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HealthCloudGA__SourceSystemId__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedBy.EmployeeNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Associate_Case_Asset</name>
        <label>Associate Case-Asset</label>
        <locationX>600</locationX>
        <locationY>700</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>For_each_Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkitsm__PrimaryCI__c</field>
            <value>
                <elementReference>For_each_Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Person_Details</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
