flows/WDO_SC_Disciplinary_Action_v2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Case_to_Request</name>
        <label>Add Case to Request</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>SvcCatalogRelatedRecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_NewCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needs_Supporting_Docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Context_0</name>
        <label>Set Record Context</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Context_0_0</name>
        <label>Set Record Context</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Employee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Up_Case</name>
        <label>Set Up Case</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>var_NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ERCaseRTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Manager_Employee_Record.RelatedPerson.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tt_CaseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ERQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Human Resources</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.wkdw__TicketCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HR - Employee Performance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee Relations - Disciplinary Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.Date_of_Incident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Manager_Employee_Record.RelatedPersonId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewCase.On_Behalf_Of__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employees.RelatedPersonId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>rbOptions30</name>
        <choiceText>30 Days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30 Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptions60</name>
        <choiceText>60 Days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>60 Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptions90</name>
        <choiceText>90 Days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>90 Days</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptionsEtoEConflict</name>
        <choiceText>Employee to Employee Conflict</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employee to Employee Conflict</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptionsInsubordination</name>
        <choiceText>Insubordination</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insubordination</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptionsNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptionsPip</name>
        <choiceText>Performance Improvement Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Performance Improvement Plan</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptionsVerbalReprimand</name>
        <choiceText>Verbal Reprimand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verbal Reprimand</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptionsWorkPerformance</name>
        <choiceText>Work Performance Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Work Performance Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptionsWrittenWarning</name>
        <choiceText>Written Warning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Written Warning</stringValue>
        </value>
    </choices>
    <choices>
        <name>rbOptionsYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Needs_Supporting_Docs</name>
        <label>Needs Supporting Docs</label>
        <locationX>182</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>Closure_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Docs Needed</defaultConnectorLabel>
        <rules>
            <name>Docs_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_AttachmentsRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supporting_Documentation_Screen</targetReference>
            </connector>
            <label>Docs Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Record_Context</name>
        <label>Use Record Context</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Manager_Employee_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No RecId</defaultConnectorLabel>
        <rules>
            <name>Has_RecId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Context_0</targetReference>
            </connector>
            <label>Has RecId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Written_Warning_Given</name>
        <label>Written Warning Given?</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Wrapup_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Verbal Warning</defaultConnectorLabel>
        <rules>
            <name>Yes_Verbal_Warning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerbalWarning_RB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Information_Screen</targetReference>
            </connector>
            <label>Yes Verbal Warning</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CollectionOfEmployees</name>
        <collectionReference>Get_Employees_of_Manager</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Employee</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsteammember</name>
        <dataType>String</dataType>
        <displayField>wkdw__DisplayName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Manager_Employee_Record.Id</elementReference>
            </value>
        </filters>
        <object>Employee</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentCaseSubject</name>
        <dataType>String</dataType>
        <expression>{!DisciplinaryAction_RB} &amp; &quot; for &quot; &amp; 
{!Get_Employees.Name}</expression>
    </formulas>
    <interviewLabel>[WDO - SC] Disciplinary Action v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Catalog - Disciplinary Action v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Get_New_Case_info</targetReference>
        </connector>
        <inputReference>var_NewCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Employee_Relations_RT_Id</name>
        <label>Get Employee Relations RT Id</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ER_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR - Employee Relations</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_ERCaseRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_s_Account</name>
        <label>Get Employee&apos;s Account</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employees_of_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employees.RelatedPerson.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employees</name>
        <label>Get Employees</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_s_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Employee</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employees_of_Manager</name>
        <label>Get Employees of Manager</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disciplinary_Actions_Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Manager_Employee_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employees_of_Manager_0</name>
        <label>Get Employees of Manager</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disciplinary_Action_Employee_Select</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Manager_Employee_Record.Id</elementReference>
            </value>
        </filters>
        <object>Employee</object>
        <outputReference>Get_Employees_of_Manager</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ER_Queue_Id</name>
        <label>Get ER Queue Id</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Up_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR - Employee Relations</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>var_ERQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Manager_Employee_Record</name>
        <label>Get Manager Employee Record</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employees_of_Manager_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Case_info</name>
        <label>Get New Case info</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Case_to_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewCase.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_NewCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NewCaseEmployeeId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NewCaseReportedById</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NewCaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NewCase.AccountId</assignToReference>
            <field>On_Behalf_Of__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_NewCaseSubType</assignToReference>
            <field>Sub_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Closure_Screen</name>
        <label>Closure Screen</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClosureText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;A disciplinary case has been initiated - &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Case # {!var_NewCaseNumber}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disciplinary_Action_Employee_Select</name>
        <label>Disciplinary Action Employee Select</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Record_Context_0_0</targetReference>
        </connector>
        <fields>
            <name>SelectEmp_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Please select the employee for this action:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Employee</name>
            <choiceReferences>CollectionOfEmployees</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Team member is this related to?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disciplinary_Actions_Screen_1</name>
        <label>Disciplinary Actions Screen 1</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Written_Warning_Given</targetReference>
        </connector>
        <fields>
            <name>CurrentEmployee_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Selected Employee: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Select_Employee}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisciplinaryAction_RB</name>
            <choiceReferences>rbOptionsVerbalReprimand</choiceReferences>
            <choiceReferences>rbOptionsWrittenWarning</choiceReferences>
            <choiceReferences>rbOptionsPip</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Disciplinary action do you wish you to initiate ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypeOfIncident_RB</name>
            <choiceReferences>rbOptionsEtoEConflict</choiceReferences>
            <choiceReferences>rbOptionsWorkPerformance</choiceReferences>
            <choiceReferences>rbOptionsInsubordination</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of the Incident was this?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IncidentOcurred_DANDT</name>
            <dataType>DateTime</dataType>
            <fieldText>When did the incident occur?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VerbalWarning_RB</name>
            <choiceReferences>rbOptionsYes</choiceReferences>
            <choiceReferences>rbOptionsNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you given them a verbal warning?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supporting_Documentation_Screen</name>
        <label>Supporting Documentation</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FileUploadInfo_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;A disciplinary case has been initiated - Case # &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!var_NewCaseNumber}&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please upload any supporting documentation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Supporting_Doce</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Browse</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_NewCaseId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Information_Screen</name>
        <label>Warning Information Screen</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Wrapup_Screen</targetReference>
        </connector>
        <fields>
            <name>CurrentEmployee_Display2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36); font-size: 16px;&quot;&gt;Selected employee: &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;&lt;em&gt;{!Select_Employee}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(1, 4, 173); font-size: 16px;&quot;&gt;Verbal Warnings Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Warning_Information_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Warning_Information_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VerbalWarning_DNT</name>
                    <dataType>DateTime</dataType>
                    <fieldText>When was the verbal warning given?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Warning_Information_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WarningSetting_RB</name>
                    <choiceReferences>rbOptionsYes</choiceReferences>
                    <choiceReferences>rbOptionsNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Was this warning given in a private setting?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Document_LongText</name>
            <fieldText>Enter a description of the warning:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wrapup_Screen</name>
        <label>Wrapup Screen</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Employee_Relations_RT_Id</targetReference>
        </connector>
        <fields>
            <name>CurrentEmployee_Display_3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Selected employee: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!Select_Employee}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EAP_RB</name>
            <choiceReferences>rbOptionsYes</choiceReferences>
            <choiceReferences>rbOptionsNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you using an Employee Assistance Program?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PlanDuration_RB</name>
            <choiceReferences>rbOptions30</choiceReferences>
            <choiceReferences>rbOptions60</choiceReferences>
            <choiceReferences>rbOptions90</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What timeframe was given to correct the action?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Feedback_Date</name>
            <dataType>Date</dataType>
            <fieldText>What is the given follow up date for the feedback/remediation?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Assigned_Actions_Items</name>
            <fieldText>What action(s) items have been assigned to the employee to correct the issue??</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SupportingDocsToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you have supporting documents you wish to upload for this case?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_AttachmentsRequired</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Use_Record_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_CaseDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Disciplinary Action? {!DisciplinaryAction_RB}
Type of Incident? {!TypeOfIncident_RB}
Date and Time of Occurrence? {!IncidentOcurred_DANDT}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SvcCatalogRelatedRecordIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AttachmentsRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ERCaseRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ERQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_NewCaseEmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCaseReportedById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCaseSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewCaseTicketCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NewInvestigation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Investigation__c</objectType>
    </variables>
    <variables>
        <name>var_recordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
