flows/WDO_DEMO_Health_Verification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Flow_Stages</name>
        <label>Set Flow Stages</label>
        <locationX>1417</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>flowStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Terms and Conditions</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Enter Health Verification Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Upload Health Verification Evidence</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>flowStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Health Verification Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Permission_Set_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Status_1</name>
        <label>Update Task Status</label>
        <locationX>395</locationX>
        <locationY>1555</locationY>
        <assignmentItems>
            <assignToReference>taskStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Task_Status_2</name>
        <label>Update Task Status</label>
        <locationX>387</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>taskStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Task_Status_3</name>
        <label>Update Task Status</label>
        <locationX>1134</locationX>
        <locationY>2334</locationY>
        <assignmentItems>
            <assignToReference>taskStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>acceptTermsAndConditions</name>
        <choiceText>Accept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accept</stringValue>
        </value>
    </choices>
    <choices>
        <name>declineTermsAndConditions</name>
        <choiceText>Decline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decline</stringValue>
        </value>
    </choices>
    <choices>
        <description>&quot;no&quot; options for work from office decision</description>
        <name>wfod_maybe</name>
        <choiceText>Maybe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maybe</stringValue>
        </value>
    </choices>
    <choices>
        <description>&quot;no&quot; options for work from office decision</description>
        <name>wfod_no</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>&quot;yes&quot; option for work from office decision</description>
        <name>wfod_yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AHVI_HasRelatedTaskOnDecline</name>
        <label>Has Related Task</label>
        <locationX>1371</locationX>
        <locationY>1953</locationY>
        <defaultConnector>
            <targetReference>DHVI_DeclineConfirmationMessage_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Task Completion</defaultConnectorLabel>
        <rules>
            <name>AHVI_RelatedTaskExistsOnDecline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DHVI_DeclineConfirmationMessage_1</targetReference>
            </connector>
            <label>Related Task Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>AHVI_HasRelatedTaskOnSuccess</name>
        <label>Has Related Task</label>
        <locationX>712</locationX>
        <locationY>3819</locationY>
        <defaultConnector>
            <targetReference>AHVI_EmployeeSuccessfulExitNoTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Task Completion</defaultConnectorLabel>
        <rules>
            <name>AHVI_RelatedTaskExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AHVI_EmployeeSuccessfulExitWithTask</targetReference>
            </connector>
            <label>Related Task Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Permission_to_Run_Flow</name>
        <label>Check Permission to Run Flow</label>
        <locationX>1403</locationX>
        <locationY>653</locationY>
        <defaultConnector>
            <targetReference>No_Permission_to_Run_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Permission</defaultConnectorLabel>
        <rules>
            <name>CP_Has_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSetAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HV_HasTaskRelated</targetReference>
            </connector>
            <label>Has Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>HV_HasTaskRelated</name>
        <label>Has Related Task</label>
        <locationX>1093</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>WFOA_GetEmployee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Onboarding Task</defaultConnectorLabel>
        <rules>
            <name>HV_OnboardingFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HV_GetTaskDetails</targetReference>
            </connector>
            <label>Onboarding Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Completed</name>
        <label>Task Completed?</label>
        <locationX>617</locationX>
        <locationY>656</locationY>
        <defaultConnector>
            <targetReference>WFO_WorkFromOfficeDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task Outstanding</defaultConnectorLabel>
        <rules>
            <name>Task_Is_Already_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HV_GetTaskDetails.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AHVI_EmployeeSuccessfulExitWithTask_0</targetReference>
            </connector>
            <label>Task Completed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Employee will be exiting on reluctance. On acceptance, verify health information and seek consent.</description>
        <name>WFO_EmployeeWillingness</name>
        <label>Employee Willing To Work From Office</label>
        <locationX>627</locationX>
        <locationY>1086</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WFO_YesOrMaybeOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WFO_WorkFromOfficeOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>wfod_yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WFO_WorkFromOfficeOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>wfod_maybe</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WFOA_GetEmployee</targetReference>
            </connector>
            <label>Yes Or Maybe</label>
        </rules>
        <rules>
            <name>WFO_NoOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WFO_WorkFromOfficeOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>wfod_no</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WFOD_ExitMessageForReluctantUser</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>User&apos;s acceptance of the terms and conditions. Seek health verification on acceptance. On declining, seek reason and exit the process.</description>
        <name>WFOTC_TermsConditionsAccepted</name>
        <label>Terms and Conditions</label>
        <locationX>1090</locationX>
        <locationY>1521</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WFOTC_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WFOA_TCAcceptedOrDeclined</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>acceptTermsAndConditions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AHVI_GetCaseRecordTypeEmployeeRelations</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>WFOTC_Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WFOA_TCAcceptedOrDeclined</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>declineTermsAndConditions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DHVI_CaptureDeclinedHealthVerificationInformation</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>healthVerificationDeclinationReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkdw__DeclinationReason__c</picklistField>
        <picklistObject>wkdw__HealthVerification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Types of health verifications that can be completed by a user.</description>
        <name>healthVerificationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>wkdw__Type__c</picklistField>
        <picklistObject>wkdw__HealthVerification__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Health Verification for &quot; &amp; {!WFOA_GetEmployee.Name} &amp; &quot; Returning to Workplace&quot;</expression>
    </formulas>
    <formulas>
        <name>PreviousButtonLabelBasedOnContext</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!taskId}),&apos;&apos;,{!$Label.wkdw__Form_Button_Previous})</expression>
    </formulas>
    <interviewLabel>[WDO] Health Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Task - Health Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Authorization Form Consent record for every Health Verification record</description>
        <name>AHVI_CreateAcceptedAuthorizationFormConsent</name>
        <label>Create Accepted Authorization Form Consent</label>
        <locationX>720</locationX>
        <locationY>2064</locationY>
        <connector>
            <targetReference>AHVI_GetHealthVerificationInformation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TC_Acceptance_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AuthorizationFormTextId</field>
            <value>
                <elementReference>Get_Authorization_Form_Text.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedSource</field>
            <value>
                <elementReference>COVID19Vaccination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedSourceType</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentGiverId</field>
            <value>
                <elementReference>WFOA_GetEmployee.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>WFOA_GetEmployee.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Seen</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Health Verification for current employee and status as pending approval and tie it to created case.</description>
        <name>AHVI_CreateAcceptedHealthVerification</name>
        <label>Create Accepted Health Verification</label>
        <locationX>720</locationX>
        <locationY>2528</locationY>
        <connector>
            <targetReference>AHVI_CreateCaseAcceptedEmployeeRelations</targetReference>
        </connector>
        <inputAssignments>
            <field>wkdw__Employee__c</field>
            <value>
                <elementReference>WFOA_GetEmployee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkdw__HealthCredentialDocumentDate__c</field>
            <value>
                <elementReference>AHVI_CredentialDocumentDateField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkdw__Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkdw__Type__c</field>
            <value>
                <elementReference>AHVI_HealthVerificationType</elementReference>
            </value>
        </inputAssignments>
        <object>wkdw__HealthVerification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create new Employee Relations case when Health Verification is completed to represent an ephemeral requirement to review and approve/deny the health verification entity.</description>
        <name>AHVI_CreateCaseAcceptedEmployeeRelations</name>
        <label>Create Case Accepted Employee Relations</label>
        <locationX>722</locationX>
        <locationY>2744</locationY>
        <connector>
            <targetReference>AHVI_GetGroupHREmployeeRelationsSpecialists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Case_Creation_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Employee_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AHVI_GetCaseRecordTypeEmployeeRelations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates Health Verification record for current employee with status as declined and reason captured.</description>
        <name>DHVI_CreateDeclinedHealthVerification</name>
        <label>Create Declined Health Verification</label>
        <locationX>1376</locationX>
        <locationY>1744</locationY>
        <connector>
            <targetReference>AHVI_HasRelatedTaskOnDecline</targetReference>
        </connector>
        <inputAssignments>
            <field>wkdw__DeclinationReason__c</field>
            <value>
                <elementReference>DHVI_DeclinationReasonField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkdw__Declined__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkdw__Employee__c</field>
            <value>
                <elementReference>WFOA_GetEmployee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkdw__Status__c</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkdw__Type__c</field>
            <value>
                <stringValue>Proof of Vaccination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wkdw__VerificationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>wkdw__HealthVerification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get record type for case creation</description>
        <name>AHVI_GetCaseRecordTypeEmployeeRelations</name>
        <label>Get Case Record Type Employee Relations</label>
        <locationX>724</locationX>
        <locationY>1519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR_Employee_Relations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Employee Relations Group to be assigned as owner for the case.</description>
        <name>AHVI_GetGroupHREmployeeRelationsSpecialists</name>
        <label>Get Group HR - Employee Relations Specialists</label>
        <locationX>722</locationX>
        <locationY>2948</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AHVI_SetCaseOwnershipToQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR_Employee_Relations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Authorization_Form_Text</name>
        <label>Get Authorization Form Text</label>
        <locationX>724</locationX>
        <locationY>1876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AHVI_CreateAcceptedAuthorizationFormConsent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wellness Authorization Demo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AuthorizationFormText</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Contact</name>
        <label>Get Employee Contact</label>
        <locationX>724</locationX>
        <locationY>1696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Authorization_Form_Text</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WFOA_GetEmployee.RelatedPersonId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>1415</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Permission_to_Run_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set_Record.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>PermissionSetAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Record</name>
        <label>Get Permission Set Record</label>
        <locationX>1416</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OnboardingHealthVerificationPermissionSetName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HV_GetTaskDetails</name>
        <label>Get Task Details</label>
        <locationX>796</locationX>
        <locationY>655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the employee&apos;s information from the logged-in user Id.</description>
        <name>WFOA_GetEmployee</name>
        <label>Get Logged In Employee Details</label>
        <locationX>1098</locationX>
        <locationY>1076</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WFOA_TermsAndConditionsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RelatedPersonId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Complete the task on employee&apos;s successful health verification and consent.</description>
        <name>AHVI_CompleteTask</name>
        <label>Complete Task</label>
        <locationX>385</locationX>
        <locationY>3649</locationY>
        <connector>
            <targetReference>Update_Task_Status_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HV_GetTaskDetails.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Complete the task on employee&apos;s successful health verification and consent.</description>
        <name>AHVI_CompleteTaskOnDecline</name>
        <label>Complete Task</label>
        <locationX>1134</locationX>
        <locationY>2153</locationY>
        <connector>
            <targetReference>Update_Task_Status_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HV_GetTaskDetails.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Assign HR Employee Relations Group as the owner for the created case.</description>
        <name>AHVI_SetCaseOwnershipToQueue</name>
        <label>Set Case Ownership to Queue</label>
        <locationX>722</locationX>
        <locationY>3184</locationY>
        <connector>
            <targetReference>Set_Case_Lookup_on_Created_Health_Verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AHVI_CreateCaseAcceptedEmployeeRelations</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AHVI_GetGroupHREmployeeRelationsSpecialists.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Lookup_on_Created_Health_Verification</name>
        <label>Set Case Lookup on Created Health Verification</label>
        <locationX>722</locationX>
        <locationY>3382</locationY>
        <connector>
            <targetReference>AHVI_UploadHealthVerificationFiles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AHVI_CreateAcceptedHealthVerification</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>wkdw__Case__c</field>
            <value>
                <elementReference>AHVI_CreateCaseAcceptedEmployeeRelations</elementReference>
            </value>
        </inputAssignments>
        <object>wkdw__HealthVerification__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Complete task on employee conveying reluctance to return to office.</description>
        <name>WFOD_CompleteTaskOnEmployeeReluctance</name>
        <label>Complete Task On Employee Reluctance</label>
        <locationX>395</locationX>
        <locationY>1315</locationY>
        <connector>
            <targetReference>Update_Task_Status_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HV_GetTaskDetails.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Thank the user for participating, providing verification and consent.</description>
        <name>AHVI_EmployeeSuccessfulExitNoTask</name>
        <label>Employee Successful Verification</label>
        <locationX>1026</locationX>
        <locationY>3821</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Stage4b</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>flowStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Health Verification Submitted</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DCM_Title_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACM_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Success! Thanks for submitting your COVID health verification information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACM_FlowNavigationButtons</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelFinish</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Finish</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Thank the user for participating, providing verification and consent.</description>
        <name>AHVI_EmployeeSuccessfulExitWithTask</name>
        <label>Employee Successful Verification</label>
        <locationX>387</locationX>
        <locationY>3818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AHVI_CompleteTask</targetReference>
        </connector>
        <fields>
            <name>Stage4a</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>flowStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Health Verification Submitted</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DCM_Title_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACM_Text_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Success! Thanks for submitting your COVID health verification information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACM_FlowNavigationButtons_0</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelMarkTaskAsComplete</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Mark_Task_As_Completed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskId</name>
                <value>
                    <elementReference>taskId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HV_GetTaskDetails.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Thank the user for participating, providing verification and consent.</description>
        <name>AHVI_EmployeeSuccessfulExitWithTask_0</name>
        <label>Employee Successful Verification</label>
        <locationX>376</locationX>
        <locationY>658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DCM_Title_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACM_Text_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Success! Thanks for submitting your COVID health verification information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACM_FlowNavigationButtons_0_0_0</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelMarkTaskAsComplete</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Mark_Task_As_Completed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskId</name>
                <value>
                    <elementReference>taskId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HV_GetTaskDetails.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Capture health verification information from the user.</description>
        <name>AHVI_GetHealthVerificationInformation</name>
        <label>Seek Health Verification Information</label>
        <locationX>721</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AHVI_CreateAcceptedHealthVerification</targetReference>
        </connector>
        <fields>
            <name>Stage2</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>flowStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Enter Health Verification Details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AHVI_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AHVI_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Complete the health verification form&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AHVI_HealthVerificationType</name>
            <choiceReferences>healthVerificationType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose your health verification method:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AHVI_CredentialDocumentDateField</name>
            <dataType>Date</dataType>
            <fieldText>Health Credential Document Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AHVI_FlowNavigationButtons</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Next</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPrevious</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Previous</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>AHVFU</description>
        <name>AHVI_UploadHealthVerificationFiles</name>
        <label>Upload Health Verification Files</label>
        <locationX>722</locationX>
        <locationY>3591</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AHVI_HasRelatedTaskOnSuccess</targetReference>
        </connector>
        <fields>
            <name>Stage3</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>flowStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Upload Health Verification Evidence</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AHVFU_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AHVFU_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Upload a file to provide proof of your COVID health verification (e.g., a vaccination card, test result report, or documentation of recovery).&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Valid File extensions accepted: .jpeg, .jpg, .png, .pdf&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AHVFU_VaccinationCardFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpeg,.jpg,.png,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AHVI_CreateAcceptedHealthVerification</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AHVFU_FlowNavigationButtons</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Next</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPrevious</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Previous</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Thank the user for participating, providing verification and consent.</description>
        <name>Case_Creation_Error</name>
        <label>Case Creation Error</label>
        <locationX>1018</locationX>
        <locationY>2744</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CCE_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Creation_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Error occured during processing of your Health Verification. Please contact your administrator to verify your permissions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CCE_FlowNavigationButtons</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelFinish</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Finish</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Get the reason why user chose to decline terms and conditions.</description>
        <name>DHVI_CaptureDeclinedHealthVerificationInformation</name>
        <label>Capture Declined Health Verification Information</label>
        <locationX>1378</locationX>
        <locationY>1523</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DHVI_CreateDeclinedHealthVerification</targetReference>
        </connector>
        <fields>
            <name>DHVI_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DHVI_SeekReasonText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Indicate your reason for being unable to provide COVID health verification documentation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DHVI_DeclinationReasonField</name>
            <choiceReferences>healthVerificationDeclinationReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DHVI_FlowNavigationButtons</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Next</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPrevious</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Previous</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>On declining Terms and conditions, thank the user and exit the process.</description>
        <name>DHVI_DeclineConfirmationMessage_1</name>
        <label>Decline Confirmation Message</label>
        <locationX>1134</locationX>
        <locationY>1954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AHVI_CompleteTaskOnDecline</targetReference>
        </connector>
        <fields>
            <name>DHVI_ExitScreenTitle_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DHVI_ExitScreenText_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for submitting your COVID health verification response.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DHVI_ExitFlowNavigationButtons_1</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelMarkTaskAsComplete</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Mark_Task_As_Completed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskId</name>
                <value>
                    <elementReference>taskId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HV_GetTaskDetails.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>On declining Terms and conditions, thank the user and exit the process.</description>
        <name>DHVI_DeclineConfirmationMessage_2</name>
        <label>Decline Confirmation Message</label>
        <locationX>1637</locationX>
        <locationY>1949</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DHVI_ExitScreenTitle_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DHVI_ExitScreenText_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for submitting your COVID health verification response.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DHVI_ExitFlowNavigationButtons_2</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFinish</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Finish</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Permission_to_Run_Flow</name>
        <label>No Permission to Run Flow</label>
        <locationX>1748</locationX>
        <locationY>651</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DCM_Title_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TC_Acceptance_Error_Text_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;It looks like you need permission to start the Health Verification flow. Ask your admin or HR contact for help.&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NPE_FlowNavigationButtons</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelFinish</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Finish</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Thank the user for participating, providing verification and consent.</description>
        <name>TC_Acceptance_Error</name>
        <label>Terms and Conditions Acceptance Error</label>
        <locationX>405</locationX>
        <locationY>2058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DCM_Title_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TC_Acceptance_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Error occured during capturing you Terms and Conditions acceptance. Please contact your administrator for help.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACM_FlowNavigationButtons_0_0</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelFinish</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Finish</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Capture employees willingness to return to office.</description>
        <name>WFO_WorkFromOfficeDecision</name>
        <label>Work From Office Decision</label>
        <locationX>627</locationX>
        <locationY>909</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WFO_EmployeeWillingness</targetReference>
        </connector>
        <fields>
            <name>WFO_ScreenTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WFO_WorkFromOfficeOptions</name>
            <choiceReferences>wfod_yes</choiceReferences>
            <choiceReferences>wfod_maybe</choiceReferences>
            <choiceReferences>wfod_no</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you plan to work in one of our offices sometime soon?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WFO_Navigation_Buttons</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Next</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Get user&apos;s acceptance on terms and conditions</description>
        <name>WFOA_TermsAndConditionsScreen</name>
        <label>Accept Terms and Conditions</label>
        <locationX>1098</locationX>
        <locationY>1312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WFOTC_TermsConditionsAccepted</targetReference>
        </connector>
        <fields>
            <name>Stage1</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>flowStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Terms and Conditions</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WFOA_TnCScreenTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WFOA_TnCScreenText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Terms and conditions and Privacy Notice:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Replace this text with your companys terms and conditions and privacy notice/policy. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Note - If you are unable to use this form to have your COVID status verified please contact your HR department for assistance.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;I have: (1) read and understand the Terms and Conditions and the Privacy Notice; and (2) acknowledge and consent to the processing of my personal data for purposes of verifying my COVID-19 health status pursuant thereto.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WFOA_TCAcceptedOrDeclined</name>
            <choiceReferences>acceptTermsAndConditions</choiceReferences>
            <choiceReferences>declineTermsAndConditions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Consent Acknowledgement - By selecting &apos;Accept&apos; below, you grant permission to this organization to collect, store, and use the vaccination attestation information provided.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WFOA_FlowNavigationButtons</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelNext</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Next</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPrevious</name>
                <value>
                    <elementReference>PreviousButtonLabelBasedOnContext</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Thank the user for participating, complete task and exit.</description>
        <name>WFOD_ExitMessageForReluctantUser</name>
        <label>Exit Message For Reluctant User</label>
        <locationX>394</locationX>
        <locationY>1086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WFOD_CompleteTaskOnEmployeeReluctance</targetReference>
        </connector>
        <fields>
            <name>WFOD_ScreenTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Verification Form&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WFOD_UserDisplayText</name>
            <fieldText>&lt;p&gt;OK. If you change your mind, contact human resources.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WFOD_CompleteTaskAndExit</name>
            <extensionName>wkdw:flowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelMarkTaskAsComplete</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Mark_Task_As_Completed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPrevious</name>
                <value>
                    <elementReference>$Label.wkdw__Form_Button_Previous</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskId</name>
                <value>
                    <elementReference>taskId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HV_GetTaskDetails.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>wkdw__Health_Verification</sourceTemplate>
    <start>
        <locationX>1292</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Flow_Stages</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>authorizationFormTextId</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>0cNDn000000xT9LMAU</text>
    </textTemplates>
    <textTemplates>
        <name>caseDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new health verification has been submitted by one of our employees that requires review for approval so they can return to the workplace safely.</text>
    </textTemplates>
    <textTemplates>
        <name>COVID19Vaccination</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>COVID-19 Vaccination</text>
    </textTemplates>
    <variables>
        <name>flowStages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnboardingHealthVerificationPermissionSetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OnboardingHealthVerificationAccess</stringValue>
        </value>
    </variables>
    <variables>
        <name>PermissionSetAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
