flows/WDO_Update_Case_Report_History.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Case_Report_History</name>
        <label>Set Case Report History</label>
        <locationX>308</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Report_History.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Report_History.Case_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Report_History</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_Case_Report_History_Found</name>
        <label>Was Case Report History Found</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Set_Case_Report_History</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Report_History</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Is Not Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[WDO] Update Case Report History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Update Case Report History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Report_History</name>
        <label>Get Case Report History</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Case_Report_History_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wdoCase_Report_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Report_History</name>
        <label>Update Case Report History</label>
        <locationX>308</locationX>
        <locationY>695</locationY>
        <inputReference>Get_Case_Report_History</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Report_History</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
