flows/wellbeing_checker.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_3ea72bb0_0dce_45d9_a22b_d657d2f9d5a9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_084528b5_dcc3_46e0_9e58_88c27e4d7a21</name>
        <choiceText>Yes - I can cope</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes - I can cope</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_251982b3_0352_4230_8901_662fd246aa78</name>
        <choiceText>No - I feel burnt out most of the time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No - I feel burnt out most of the time</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_48ad4798_7650_455e_80b1_18a257baed51</name>
        <choiceText>Yes - most of the time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes - most of the time</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c408ec26_2337_4789_b134_21221cee5652</name>
        <choiceText>Sometimes - I get overwhelmed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sometimes - I get overwhelmed</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f8300b84_059d_4ab3_a483_1349b17b921e</name>
        <choiceText>Sometimes - it&apos;s sporadic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sometimes - it&apos;s sporadic</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f9994183_4915_4f8c_8894_d0deb0802d5a</name>
        <choiceText>No - I don&apos;t feel in the loop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No - I don&apos;t feel in the loop</stringValue>
        </value>
    </choices>
    <interviewLabel>Wellbeing Checker</interviewLabel>
    <label>Wellbeing Checker</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_wellbeing_checker_4e6576c6_19d7_457d_a64e_ce624499ed8b</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_3ea72bb0_0dce_45d9_a22b_d657d2f9d5a9</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_201b100b_1548_4a20_8734_f1eafe2ed3a1_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>smiley</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_201b100b_1548_4a20_8734_f1eafe2ed3a1_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_201b100b_1548_4a20_8734_f1eafe2ed3a1_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_201b100b_1548_4a20_8734_f1eafe2ed3a1</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;I am proud to do the job that I do&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_3e11a326_cfa4_490c_a8d0_eaffcb7752ff_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_3e11a326_cfa4_490c_a8d0_eaffcb7752ff_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_3e11a326_cfa4_490c_a8d0_eaffcb7752ff_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3e11a326_cfa4_490c_a8d0_eaffcb7752ff</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;I feel supported by my managers&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a9646deb_852c_4786_be50_85af92d02db5_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_a9646deb_852c_4786_be50_85af92d02db5_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_a9646deb_852c_4786_be50_85af92d02db5_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a9646deb_852c_4786_be50_85af92d02db5</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;I have a say in how I do my job&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_72226a1d_7013_49ed_bb54_2991fc9cd1c2_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_72226a1d_7013_49ed_bb54_2991fc9cd1c2_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_72226a1d_7013_49ed_bb54_2991fc9cd1c2_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_72226a1d_7013_49ed_bb54_2991fc9cd1c2</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;All employees in Kerry are treated fairly and equally&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_14b6a8d4_67eb_43d6_aa93_1221a5a9b257_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_14b6a8d4_67eb_43d6_aa93_1221a5a9b257_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_14b6a8d4_67eb_43d6_aa93_1221a5a9b257_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_14b6a8d4_67eb_43d6_aa93_1221a5a9b257</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;My role and responsibilities are clearly defined and known to the team&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_da2cc05f_9b51_44c9_8456_6fd33baa1895</name>
            <choiceReferences>c_084528b5_dcc3_46e0_9e58_88c27e4d7a21</choiceReferences>
            <choiceReferences>c_c408ec26_2337_4789_b134_21221cee5652</choiceReferences>
            <choiceReferences>c_251982b3_0352_4230_8901_662fd246aa78</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;I can cope with my workload and work pattern&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_894acb40_a34b_4480_9194_55fbb59361b2_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>smiley</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_894acb40_a34b_4480_9194_55fbb59361b2_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_894acb40_a34b_4480_9194_55fbb59361b2_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_894acb40_a34b_4480_9194_55fbb59361b2</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;I am part of a team that is free from conflict and unacceptable behavior&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7f642267_dcc0_4a2d_9abe_8dc7b05729a5</name>
            <choiceReferences>c_48ad4798_7650_455e_80b1_18a257baed51</choiceReferences>
            <choiceReferences>c_f8300b84_059d_4ab3_a483_1349b17b921e</choiceReferences>
            <choiceReferences>c_f9994183_4915_4f8c_8894_d0deb0802d5a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Change is clearly communicated and understood&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_e646b097_e2e9_4aa2_b0c3_e1eb5ec20d08_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e646b097_e2e9_4aa2_b0c3_e1eb5ec20d08</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;I feel Kerry listens to, and acts upon, employee feedback &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 16px;&quot;&gt;(scale of 0 to 10, 0 being the lowest and 10 being the highest)&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_acd4e947_a506_42b4_a2af_865ac63bfa2e_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>smiley</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_acd4e947_a506_42b4_a2af_865ac63bfa2e_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_acd4e947_a506_42b4_a2af_865ac63bfa2e_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_acd4e947_a506_42b4_a2af_865ac63bfa2e</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;I plan to be working for Makana 5 years from now&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_332d0aee_09c2_4e36_90dc_a6ab7d45563c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;If you DO NOT plan on working with Kerry in 5 years time - kindly outline one thing that we could do to as an organization to better retain skilled staff&lt;/span&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_3ea72bb0_0dce_45d9_a22b_d657d2f9d5a9</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>q_14b6a8d4_67eb_43d6_aa93_1221a5a9b257_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_14b6a8d4_67eb_43d6_aa93_1221a5a9b257_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <textTemplates>
        <name>q_201b100b_1548_4a20_8734_f1eafe2ed3a1_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Unhappy</text>
    </textTemplates>
    <textTemplates>
        <name>q_201b100b_1548_4a20_8734_f1eafe2ed3a1_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Happy</text>
    </textTemplates>
    <textTemplates>
        <name>q_3e11a326_cfa4_490c_a8d0_eaffcb7752ff_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_3e11a326_cfa4_490c_a8d0_eaffcb7752ff_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <textTemplates>
        <name>q_72226a1d_7013_49ed_bb54_2991fc9cd1c2_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_72226a1d_7013_49ed_bb54_2991fc9cd1c2_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <textTemplates>
        <name>q_894acb40_a34b_4480_9194_55fbb59361b2_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Unhappy</text>
    </textTemplates>
    <textTemplates>
        <name>q_894acb40_a34b_4480_9194_55fbb59361b2_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Happy</text>
    </textTemplates>
    <textTemplates>
        <name>q_a9646deb_852c_4786_be50_85af92d02db5_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_a9646deb_852c_4786_be50_85af92d02db5_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <textTemplates>
        <name>q_acd4e947_a506_42b4_a2af_865ac63bfa2e_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Unhappy</text>
    </textTemplates>
    <textTemplates>
        <name>q_acd4e947_a506_42b4_a2af_865ac63bfa2e_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Happy</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Thank you for you for taking the time to help us help you.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Your feedback is valuable.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Have a GREAT DAY!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px;&quot;&gt;Welcome to the Makana Wellbeing Checker&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;As a Makana Employee, your wellbeing is very important to us to make sure you can be the best version of you in the workplace.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;To that end, we want to hear from you so we can make sure that we are supporting you in your role, help to alleviate any unnecessary pressures, and understand any gaps where we can improve as a company that can positively affect your wellbeing and that of your colleagues and peers.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Your participation is incredibly important and relevant so thank you for taking the time to complete this.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Yours,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;The Makana Team&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_14b6a8d4_67eb_43d6_aa93_1221a5a9b257_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_201b100b_1548_4a20_8734_f1eafe2ed3a1_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_3e11a326_cfa4_490c_a8d0_eaffcb7752ff_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_72226a1d_7013_49ed_bb54_2991fc9cd1c2_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_894acb40_a34b_4480_9194_55fbb59361b2_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a9646deb_852c_4786_be50_85af92d02db5_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_acd4e947_a506_42b4_a2af_865ac63bfa2e_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_e646b097_e2e9_4aa2_b0c3_e1eb5ec20d08_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
